{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Book an appointment - NHS.UK
{% endblock %}


{% block pageTitle %}
Book a GP appointment online
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}

<form action="">

<div class="warning-against-form-no-bg">
<fieldset>
<legend>
<span class="form-label-bold" style="font-weight: 600; display:block;">What's the name of your GP surgery?</span>
<span class="error-message" style="color: #da291c;">You need to enter your surgery name</span>
</legend>
  <div class="form-group">
    <input type="text" size="30" name="postcode" style="margin-bottom: 0; border: 3px solid #da291c;">
  </div>
</fieldset>
</div>

<a href="book-an-appointment-no-results" type="submit" class="button" style="margin-top: 0; margin-bottom: 32px;">Next</a>

</form>



{% endblock %}


{% block emergencyContent %}

{% endblock%}


{% block mutedCallout%}

{% endblock%}


{% block body_after %}

{% endblock %}
