{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Get tested for chlamydia
{% endblock %}


{% block pageTitle %}
Get tested for chlamydia
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}

<p>You should get a test if you have any <a href="#symptoms">symptoms of chlamydia</a> or you're <a href="#people-at-risk">at risk</a>.</p>

<p>You might be told to have a test 2 weeks after unprotected sex. This is because it can take 2 weeks for chlamydia to show up in a test. 
</p>

<h2>What happens during a test</h2>

<p>Samples will be taken from the areas that might be infected. They will be sent to a lab and tested. 

<p>Samples will be taken using one or more of the following methods:

<ul>
  <li>swab inside the vagina, bottom or mouth using a cotton bud</li>
  <li>pee into a container</li>
</ul>

<p>If you see a health professional, they'll ask questions about your sexual activity and symptoms. This will help them decide what to test for and what samples to take.</p>

<h2>Where you can get tested</h2>

<p>The best ways to get tested for chlamydia are to:</p>

<ul>
  <li>see a sexual health professional</li>
  <li>get a self-test kit from a pharmacy</li>
  <li>get a self-test kit online</li>
</ul>

<div class="muted">
We can help you find a test that's right for you.
We'll ask you a few questions. It will take about 2 minutes. 
<div class="button"><a href="check-for-symptoms">Next</a></div>
</div>


{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
