{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Find a chlamydia test
{% endblock %}


{% block pageTitle %}
Find a chlamydia test
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}

<p>The only way to know if you have chlamydia is to get a test. You can get a test even if you have no symptoms.</p>

<div class="button"><a href="check-for-symptoms">Next</a></div>

{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
