{% extends './layout_index.html' %}


{% block page_title %}
Type 1 diabetes - NHS.UK
{% endblock %}


{% block pageTitle %}
Type 1 diabetes
{% endblock %}

{% block pageSubTitle %}
Overview
{% endblock %}

{% block navContent %}
<ul>
  <li><strong>Overview</strong>
  	<ul>
    	<li><a href="#symptoms-of-diabetes">Symptoms of diabetes</a></li>
        <li><a href="#causes-of-type-1-diabetes">Causes of type 1 diabetes</a></li>
        <li><a href="#treating-type-1-diabetes">Treating type 1 diabetes</a></li>
        <li><a href="#complications-of-type-1-diabetes">Complications of type 1 diabetes</a></li>
        <li><a href="#living-with-type-1-diabetes">Living with type 1 diabetes</a></li>
    </ul>
  </li>
  <li><a href="condition-page-1">Symptoms</a>  </li>
  <li><a href="condition-page-2">Diagnosis</a></li>
  <li><a href="condition-page-3">Treatment</a></li>
  <li><a href="condition-page-4">Complications</a></li>
  <li><a href="condition-page-5">Living with</a></li>
</ul>
{% endblock %}

{% block content %}

<h2>Overview</h2>
<p><strong>Diabetes is a lifelong condition that causes a person's blood sugar (glucose) level to become too high.</strong></p>
<p>The hormone insulin, produced by the pancreas, is responsible for controlling the amount of glucose in the blood.</p>
<p>There are two main types of diabetes:</p>
<ul>
<li><strong>type 1</strong> – where the pancreas doesn't produce any insulin </li>
<li><strong>type 2</strong> – where the pancreas doesn't produce enough insulin or the body's cells don't react to insulin </li>
</ul>
<p>These pages are about type 1 diabetes. Other types of diabetes are covered separately (read about <a href="/Conditions/Diabetes-type2/Pages/Introduction.aspx">type 2 diabetes</a>, and <a href="/Conditions/gestational-diabetes/Pages/Introduction.aspx#close">gestational diabetes</a>, which affects some women during pregnancy).</p>
<h2 id="symptoms-of-diabetes">Symptoms of diabetes</h2>
<p>Typical symptoms of type 1 diabetes are:</p>
<ul>
<li>feeling very thirsty </li>
<li>passing urine more often than usual, particularly at night </li>
<li>feeling very tired </li>
<li>weight loss and loss of muscle bulk </li>
</ul>
<p>The symptoms of type 1 diabetes usually develop very quickly in young people (over a few days or weeks). In adults, the symptoms often take longer to develop (a few months).</p>
<p>Read more about the <a href="/Conditions/Diabetes-type1/Pages/Symptoms.aspx">symptoms of type 1 diabetes</a>.</p>
<p>These symptoms occur because the lack of insulin means that glucose stays in the blood and isn’t used as fuel for energy. Your body tries to reduce blood glucose levels by getting rid of the excess glucose in your urine.</p>
<p>It's very important for diabetes to be diagnosed as soon as possible, because it will get progressively worse if left untreated. <a href="https://www.nhs.uk/Service-Search/GP/LocationSearch/4">Find your local GP service</a></p>
<p>Read about <a href="/Conditions/Diabetes-type1/Pages/Diagnosis.aspx">how type 1 diabetes is diagnosed</a>.</p>
<h2 id="causes-of-type-1-diabetes">Causes of type 1 diabetes </h2>
<p>Type 1 diabetes is an autoimmune condition, which means your immune system attacks healthy body tissue by mistake. In this case, it attacks the cells in your pancreas.</p>
<p>Your damaged pancreas is then unable to produce insulin. So, glucose cannot be moved out of your bloodstream and into your cells.</p>
<p>Type 1 diabetes is often inherited (runs in families), so the autoimmune reaction may be genetic.</p>
<p>It's not known exactly what triggers the immune system to attack the pancreas, but some researchers have suggested it may be a viral infection.</p>
<p>If you have a close relative – such as a parent, brother or sister – with type 1 diabetes, you have about a 6% chance of also developing the condition. The risk for people who don't have a close relative with type 1 diabetes is just under 0.5%.</p>
<h2 id="treating-type-1-diabetes">Treating type 1 diabetes</h2>
<p>Diabetes can't be cured. Treatment aims to keep your blood glucose levels as normal as possible and control your symptoms, to prevent health problems developing later in life.</p>
<p>If you're diagnosed with diabetes, you'll be referred to a diabetes care team for specialist treatment and monitoring.</p>
<p>As your body can't produce insulin, you'll need regular insulin injections to keep your glucose levels normal. There are alternatives to insulin injections, but they're only suitable for a small number of patients.</p>
<p>Read about <a href="/Conditions/Diabetes-type1/Pages/Treatment.aspx">treating type 1 diabetes</a>.</p>
<h2 id="complications-of-type-1-diabetes">Complications of type 1 diabetes</h2>
<p>Diabetes can cause serious long-term health problems. It's the most common cause of <a href="/conditions/Visual-impairment/Pages/Introduction.aspx">vision loss and blindness</a> in people of working age. </p>
<p>Everyone with diabetes aged 12 or over should be invited to have their eyes screened once a year for <a href="/conditions/diabetic-retinopathy/Pages/Introduction.aspx">diabetic retinopathy</a>.</p>
<p>Diabetes is the reason for many cases of <a href="/Conditions/Kidney-disease-chronic/Pages/Causes.aspx">kidney failure</a> and lower limb amputation.</p>
<p>People with diabetes are up to five times more likely to have <a href="/Conditions/cardiovascular-disease/Pages/Introduction.aspx">cardiovascular disease</a>, such as a <a href="/conditions/Stroke/Pages/Introduction.aspx">stroke</a>, than those without diabetes.</p>
<p>Read more about the <a href="/Conditions/Diabetes-type1/Pages/Complications.aspx">complications of type 1 diabetes</a>.</p>
<h2 id="living-with-type-1-diabetes">Living with type 1 diabetes</h2>
<p>If you have type 1 diabetes, you'll need to look after your health very carefully. This means:</p>
<ul>
<li>eating a <a href="/Livewell/healthy-eating/Pages/Healthyeating.aspx">healthy, balanced diet</a></li>
<li><a href="/Livewell/Loseweight/Pages/Loseweighthome.aspx">losing weight</a>, if you're overweight, and maintaining a healthy weight </li>
<li><a href="/livewell/smoking/Pages/stopsmokingnewhome.aspx">stopping smoking</a> (if you smoke) </li>
<li>drinking alcohol in moderation </li>
<li>taking plenty of <a href="/LiveWell/Fitness/Pages/Fitnesshome.aspx">regular exercise</a></li>
</ul>
<p>Read more about <a href="/Conditions/Diabetes-type1/Pages/living-with.aspx">living with type 1 diabetes</a>.</p>

{% endblock %}