{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Stomach ache symptoms and conditions - NHS.UK
{% endblock %}


{% block pageTitle %}
See a GP
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}



<ul>
<li>Symptom 1</li>
<li>Symptom 2</li>
<li>Symptom 3</li>
</ul>



<form class="form">

<div class="form-group">
<fieldset>
  <legend class="strong">
    Are you registered with a GP?
  </legend>
  <div class="multiple-choice" data-target="example-progress">
    <label for="radio-1" class="block-label">
      <input id="radio-1" type="radio" name="radio-group" value="radio-1"  onclick="document.getElementById('formname').action='find-your-gp';document.getElementById('submit')">
      Yes
    </label>
    <label for="radio-2" class="block-label">
      <input id="radio-2" type="radio" name="radio-group" value="radio-2" onclick="document.getElementById('formname').action='not-registered';document.getElementById('submit')">
      No
    </label>
  </div>
</fieldset>

</div>

  <div class="form-group">


                <fieldset>

                  <legend class="visually-hidden">
                    What is the thing you want to search by?
                  </legend>

                  <div class="form-group form-group-compound">
                    <label class="form-label" for="address-line-1">Street</label>
                    <input class="form-control" type="text" id="address-line-1">
                  </div>


                </fieldset>

    </div>


<input type="submit" class="button" value="Continue">

</form>

<p style="top-margin:16px;">
  Not know your GP? <a href="find-your-gp">Find your GP</a>.
</p>

{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
