{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Stomach ache symptoms and conditions - NHS.UK
{% endblock %}


{% block pageTitle %}
Select your surgery
{% endblock %}



{% block content %}

<div style="padding-left: 0; margin-bottom: 16px;">
<a href="https://patient.emisaccess.co.uk/account/login" style="text-decoration: none; color:#0072c6;">
<h3 style="text-decoration: underline;">Idle Medical Centre</h3>
<div style="margin-top:-16px;">48 High Street, Idle, Bradford, BD10 9RY</div>
</a>
</div>


<div style="padding-left: 0; margin-bottom: 16px;">
<h3 style="text-decoration: underline;">Swidle Medical Centre</h3>
<div style="margin-top:-16px;">12 Creaky Road, Glossop, SK13 7FR</div>
<div class="muted" style="margin-top: 16px; margin-bottom:0;">
<p style="padding: 0; margin: 0;">This surgery doesn't have an online booking system. Call reception on <number> to book an appointment.</p>
</div>


</div>

<div style="padding-left: 0;  margin-bottom: 16px;">
<a href="https://patient.emisaccess.co.uk/account/login" style="text-decoration: none; color:#0072c6;">
<h3 style="text-decoration: underline;">Another surgery name here</h3>
<div style="margin-top:-16px;">33 Windy Lane, Gale, BR22 3FR</div>
</a>
</div>


<div class="muted" style="margin-top: 64px;">
<p style="padding: 0; margin: 0;">If your surgery isn't here, check that you're using the right name and <a href="book-an-appointment">search again</a>.</p>
<p style="padding: 0; margin: 0;">If you still cannot find your surgery, <a href="">let us know</a>.</p>
</div>

{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
