{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
We recommend that you see someone
{% endblock %}


{% block pageTitle %}
We recommend that you see someone
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}


<p>If you have chlamydia symptoms you should see a nurse or doctor. They'll ask questions about your symptoms and sexual activity to understand what kind of test you need. </p>


<h2 class="h3">What happens during a chlamydia test</h2>

<p>Samples will be collected from the areas you have symptoms using one or both of the following methods:</p>

<ul>
<li>swab - a small cotton bud which is wiped over the area with symptoms</li>
<li>urine (wee) collection</li>
</ul>

<p>The samples will be sent to a lab for testing.</p>

<h2 class="h3">Who you can see</h2>

<p>You can see:</p>
<ul>
<li>a sexual health expert - they'll usually give you the results quicker than a GP, they won't share your results unless you ask them to, and treatment is usually free</li>
<li>your GP - they might refer you to a sexual health expert, and you could be asked to pay a prescription charge if you need treatment</li>
</ul>
<p>We will show you sexual health experts in your area.</p>


<h2 class="h3">If you'd rather test yourself</h2>

<p>You can get a test kit to collect your own samples. You'll usually have to send your samples by post to be tested. You could wait up to a week to get the results.</p>

<p>You might be able to collect your own samples even if you see a nurse or doctor.</p>

<form class="form" id="pageform" action="preferred-times">

<div class="form-group">
<fieldset>
  <legend class="strong">

  </legend>
  <div class="multiple-choice" data-target="example-progress">
    <label for="checkbox-1" class="block-label">
      <input id="checkbox-1" type="checkbox" name="checkbox-group" value="checkbox-1">
      Also show me places I can get a test kit
    </label>

  </div>
</fieldset>

</div>

<input type="submit" class="button" value="Continue">

</form>

{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
