{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Stomach ache symptoms and conditions - NHS.UK
{% endblock %}


{% block pageTitle %}
We recommend you see someone
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}


<p>We are saying this because this is what we were told is guidance.</p>


<p>If you rather get a test because the idea of seeing someone makes you nervous please
<form class="form" id="pageform" action="preferred-times">

<div class="form-group">
<fieldset>
  <legend class="strong">

  </legend>
  <div class="multiple-choice" data-target="example-progress">
    <label for="checkbox-1" class="block-label">
      <input id="checkbox-1" type="checkbox" name="checkbox-group" value="checkbox-1">
      I want to see tests as well
    </label>

  </div>
</fieldset>

</div>

<input type="submit" class="button" value="Continue">

</form>

{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
