{% extends '_layouts/layout_2-3.html' %}


{% block page_title %}
Chlamydia - NHS.UK
{% endblock %}


{% block pageTitle %}
Chlamydia

{% endblock %}

{% block pageIntro %}

<p>Chlamydia is the most common sexually transmitted infection (STI). Men and women can get it.</p>

{% endblock %}

{% block content %}


<p>You can have chlamydia even if you don't have any symptoms, or your symptoms go away.</p>

<p>It's easy to treat.</p>

<p>If you don't treat chlamydia, it can spread and cause complications such as <a href="http://www.nhs.uk/Conditions/Pelvic-inflammatory-disease/Pages/Introduction.aspx" target="_blank">pelvic inflammatory disease</a>, lower fertility or infertility.</p>

<p>The only way to know if you have chlamydia is to get a test. Anyone can get a test for free.</p>

<div class="muted"><a href="check-for-symptoms">Find a chlamydia test</a></div>

<h2>Symptoms of chlamydia</h2>
<h3 class="h3">Women</h3>

<p>The symptoms of chlamydia in women are:</p>
<ul>
<li>bleeding between periods (even if you use hormonal contraception like the pill or an implant)</li>
<li>bleeding after or during sex</li>
<li>pain during sex</li>
<li>pelvic pain</li>
<li>pain when you pee</li>
<li>discharge from your bottom</li>
<li>pain, swelling irritation and discharge in your eyes (<a href="https://beta.nhs.uk/conditions/conjunctivitis/" target="_blank">conjunctivitis</a>)</li>
</ul>

<h3 class="h3">Men</h3>
<p>The symptoms of chlamydia in men are:</p>
<ul>
<li>discharge from your penis or bottom</li>
<li>pain when you pee</li>
<li>pain in your testicles </li>
<li>pain, swelling irritation and discharge in your eyes (<a href="https://beta.nhs.uk/conditions/conjunctivitis/" target="_blank">conjunctivitis</a>)</li>
</ul>

<h2>People at risk</h2>
<p>Anyone who has sex can get chlamydia and pass it on. You don't need to have lots of sex with lots of people to be at risk. </p>

<p>You're more at risk and should get a test if any of the following apply:</p>
<ul>
<li>you have (or think you might have) symptoms</li>
<li>someone you've had sex with has (or thinks they might have) symptoms</li>
<li>you've recently had unprotected sex with a new partner</li>
<li>you, or your sexual partner, have had unprotected sex with other partners</li>
<li>someone you've had sex with tells you they have chlamydia, or a sexually transmitted infection</li>
<li>you have another sexually transmitted infection</li>
<li>you're pregnant or planning a pregnancy</li>
</ul>

<p>If someone you've had sex with has a test for chlamydia and the results are negative, you could still have chlamydia. This is because tests:</p>
<ul>
<li>can be wrong - they’re right over 90% of the time</li>
<li>may not detect the infection if the test is done too soon after unprotected sex</li>
</ul>

<h2>How long you should wait before you get a test</h2>

<p>You should go straight away if you think you might have chlamydia. You shouldn’t wait for symptoms, because you might not get any.</p>

<p>The infection could take up to 2 weeks to appear, so you may be told to have another test 2 weeks after you had unprotected sex.</p>

<h2>How chlamydia is treated</h2>

<p>If you have chlamydia, you will be given one of the following:</p>
<ul>
<li>azithromycin – 2 or 4 tablets at once</li>
<li>doxycycline – 2 capsules a day for a week</li>
</ul>

<p>If it's likely that you have the infection, a nurse or doctor may give you the treatment before you get your test results. This might happen if you have symptoms, or someone you’ve had sex with has chlamydia.
</p>


<h2>What causes chlamydia</h2>
<p>Chlamydia is a bacteria that's found in people who have the infection. It can live in your:</p>
<ul>
<li>cervix (entrance to the womb)</li>
<li>urethra (tube where your pee comes out)</li>
<li>bottom</li>
<li>throat</li>
<li>eyes - contact with infected semen or vaginal fluid can cause conjunctivitis</li>
</ul>

<p>The infection is most commonly spread by:</p>

<ul>
<li>unprotected vaginal, anal or oral sex</li>
<li>sharing sex toys - if you don't wash them or cover them with a new condom</li>
</ul>

<p>Chlamydia can also be passed from a pregnant woman to her baby.</p>

<p>You can't get chlamydia from kissing, hugging, swimming pools, toilet seats, sharing baths, towels, cups, plates or cutlery.</p>


{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
