{% extends '_layouts/layout_2-3.html' %}


{% block page_title %}
Diabetes symptoms and conditions NHS.UK
{% endblock %}


{% block pageTitle %}
HOLDING CONDITION PAGE WHILE WE WAIT FOR CONTENT
{% endblock %}

{% block pageIntro %}

<p>Intro if needed</p>

{% endblock %}


{% block content %}

<h2>How to tell if you might have something</h2>
<p>Many people have XXXXX and don’t realise. This is because symptoms
don’t necessarily make you feel unwell.</p>
<p>Symptoms include:</p>
<ul>
<li>peeing more than usual, particularly at night</li>
<li>feeling thirsty all the time</li>
<li>feeling very tired</li>
<li>losing weight without trying</li>
<li>itching around your penis or vagina, or you keep getting thrush</li>
<li>cuts or wounds that take longer to heal</li>
<li>blurred vision</li>
</ul>
<p>You’re more at risk of XXXX if you:</p>
<ul>
<li>are over 40 (or 25 for South Asian people)</li>
<li>have a close relative with diabetes (parent, brother or sister)</li>
<li>are overweight or obese</li>
<li>are of South Asian, Chinese, African-Caribbean or black African origin
(even if you were born in the UK)</li>
</ul>
<h3>When to see your GP</h3>
<p>See your GP if you have any of the symptoms of XXXX, or you’re
worried you may have a higher risk of developing it.</p>


<div class="muted"><a href="check-for-symptoms">LINK TO NEXT PAGE</a></div>


{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
