{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Stomach ache symptoms and conditions - NHS.UK
{% endblock %}


{% block pageTitle %}
You can see a specialist at these places:
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}

<h4>Big Sexual Health Clinic</h4>
Telephone: 01412 357913<br />
0.3 miles away

<h4>Big Sexual Health Clinic</h4>
Telephone: 01412 357913<br />
0.3 miles away

<h4>Big Sexual Health Clinic</h4>
Telephone: 01412 357913<br />
0.3 miles away


{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
