{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Places you can see someone
{% endblock %}


{% block pageTitle %}
Places you can see someone
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}

<span style="font-size: 24px; font-weight: 600; ">St Lukes Sexual Health Centre</span><br />
Telephone: 0113 357913<br />
0.3 miles away
<div class="muted" style="margin-top: 16px; margin-bottom: 48px;">You do not have to make an appointment. You can walk in. You may have to wait several hours before you are seen by a specialist.</div>

<span style="font-size: 24px; font-weight: 600; ">Street Lane Practice</span><br />
Telephone: 0161 1234568<br />
0.8 miles away
<div class="muted" style="margin-top: 16px; margin-bottom: 48px;">This is a GP surgery that has sexual health appointments. You can make an appointment even if this is not your GP surgery. Phone for more information.</div>

<span style="font-size: 24px; font-weight: 600; ">Boots Pharmacy</span><br />
Telephone: 0161 1234689<br />
1.2 miles away
<div class="muted" style="margin-top: 16px; margin-bottom: 48px;">This pharmacy has a booth where you can talk to a qualified pharmacist in private. Here, you will be given a self-test kit. You will have to send your samples by post to be tested.</div>

<span style="font-size: 24px; font-weight: 600; ">Airedale Hospital</span><br />
Telephone: 0161 9876543<br />
5.9 miles away
<div class="muted" style="margin-top: 16px; margin-bottom: 48px;">You do not have to make an appointment. You can walk in and speak to reception about what to do. You may have to wait several hours before you are seen by a doctor.</div>

<!-- Alternatively you could get a self-test kit. <a hredf="">Find out more</a>. -->

{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
