{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Stomach ache symptoms and conditions - NHS.UK
{% endblock %}


{% block pageTitle %}
Is this your surgery?
{% endblock %}



{% block content %}

<p>Click on the GP surgery.</p>

<div style="padding-left: 0;">
<a href="https://patient.emisaccess.co.uk/account/login" style="text-decoration: none; color:#0072c6;">
<h3 style="text-decoration: underline;">Idle Medical Centre</h3>
<div style="margin-top:-16px;">48 High Street, Idle, Bradford, BD10 9RY</div>
</a>
</div>


<p class="muted" style="margin-top: 64px;">If this isn't your surgery, check that you're using the right name and <a href="book-an-appointment">search again</a>.</p>


{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
