{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Stomach ache symptoms and conditions - NHS.UK
{% endblock %}


{% block pageTitle %}
Tell us where you would like to look for help
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}


<form class="form" id="pageform" action="users-age">


  <div class="form-group">


                <fieldset>

                  <legend class="visually-hidden">

                  </legend>

                  <div class="form-group form-group-compound">
                    <label class="form-label" for="address-line-1">This can be a postcode, city, or street.</label>
                    <input class="form-control" type="text" id="address-line-1">
                  </div>


                </fieldset>

    </div>


<input type="submit" class="button" value="Continue">

</form>

<p>
  <strong>Why are we asking this?</strong><br />
  We may show services aimed at your specific needs.
</p>

{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
