{% extends 'design_sprint_5/layout_index_in_blue_box_2.html' %}


{% block page_title %}
Chlamydia - NHS.UK
{% endblock %}


{% block pageTitle %}
Chlamydia
{% endblock %}

{% block pageSubTitle %}
How to get tested
{% endblock %}

{% block leftContent %}

<ol>
  <li><a class="on-blue" href="condition-main">About</a></li>
  <li><a class="on-blue" href="condition-page-2">Symptoms</a></li>
  <li><a class="on-blue" href="condition-page-3">Who should get tested</a></li>
  <li>How to get tested</li>
  <li><a class="on-blue" href="condition-page-5">Treatment and care</a></li>
</ol>


{% endblock %}

{% block rightContent %}

<ol start="6">
  <li><a class="on-blue" href="condition-page-8">Telling your partner</a></li>
  <li><a class="on-blue" href="condition-page-7">Protect yourself</a></li>
  <li><a class="on-blue" href="condition-page-4">Causes</a></li>
  <li><a class="on-blue" href="condition-page-9">If it's not treated</a></li>
  <!--<li><a class="on-blue" href="condition-page-6">Self-care</a></li>-->
</ol>

{% endblock %}

{% block content %}

<h2>How to get tested for chlamydia</h2>

<p>The only way to know if you have chlamydia is to get tested. You can have a test at any time, even if you have no symptoms.</p>

<h3>When to get tested</h3>

<p>If you've had unprotected sex and you're worried about chlamydia, you should wait 2 weeks before you get tested. This is because chlamydia might not show up in a test straight away.</p>

<p>Don't wait if you think you have <a href="condition-page-2">symptoms</a>, or someone you've had sex with tells you they have chlamydia.</p>

<h3>How you'll be tested</h3>

<p>Samples will be taken from the areas that might be infected using one or more of the following methods:</p>

<ul>
  <li>swab inside the vagina, bottom or mouth using a cotton bud</li>
  <li>pee into a container</li>
</ul>

<p>Your samples will be sent to a lab and tested for chlamydia. You'll get your results by phone or text message.</p>

<p>If you see a health professional they'll also ask questions about your sexual activity and symptoms. This will help them decide what samples to take.</p>

<h3>Where you can get tested</h3>

<p>The best ways to get tested for chlamydia are to:<p>

<ul>
  <li>see a sexual health professional</li>
  <li>get a self-test kit from a pharmacy</li>
  <li>order a self-test kit online</li>
</ul>

<div class="beware">
<b>We can help you find a test that's right for you.<br />
  <br />
We'll ask you a few questions. It will take about 5 minutes. We won't store your data.</b>
</div>

<a href="https://primary-care-data-prototype.herokuapp.com/1-intro" class="button" style="
    padding-right: 3rem;
    margin-bottom:32px;
    background-repeat: no-repeat;
    background-position: 95% 60%;
    background-image: url(/images/icon-button-right-chevron.svg);">Find a chlamydia test
</a>


<div class="bottom-continue-reading">
    <h4>Continue reading</h4>
    <p>
        <span><a href="condition-page-3">< 3. Who should get tested</a></span>
        <span style="float:right"><a href="condition-page-5">5. Treatment and care ></a></span>
    </p>
</div>

{% endblock %}
