{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
We recommend that you see someone
{% endblock %}


{% block pageTitle %}
We recommend that you see someone
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}


<p>If you have chlamydia symptoms you should see a sexual health professional to get tested. </p>
<p>This is free.</p>
<p>We'll help you find the best places for you.</p>

<details class="slef-test" role="group">
  <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false">
    <span class="details__summary" style="border-bottom: 2px solid #000;">Would you rather use a self-test kit?</span>
  </summary>

  <div id="details-content-0" aria-hidden="true">
    <div class="reading-width">
      <p>If you don't want to see a sexual health professional, you can use a self-test kit to take your own samples. You'll send your samples by post to be tested.  
      </p>

      <p>You'll usually have to pay for a self-test kit.</p>
      <p>Because you have symptoms, we'll show you where you can see someone to get tested. We can also show you: </p>
      <form class="form" id="pageform" method="get">

      <div class="form-group">
      <fieldset>
        <legend class="strong">

        </legend>
        <div class="multiple-choice" data-target="example-progress">
          <label for="checkbox-1" class="block-label">
            <input id="checkbox-1" type="checkbox" name="multiChoose" value="choose-pharmacy">
            pharmacies where you can buy a self-test kit
          </label>
          <label for="checkbox-2" class="block-label">
            <input id="checkbox-2" type="checkbox" name="multiChoose" value="choose-online">
            where to order a self-test kit online
          </label>
          <input id="checkbox-3" type="hidden" name="multiChoose" value="choose-location" />
        </div>
      </fieldset>

      </div>
    </div>
  </div>
</details>

<input type="submit" class="button" value="Continue" formaction="/design_sprint_2/need-time">

</form>

{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
