{% extends '_layouts/layout_1-3_2-3.html' %}


{% block page_title %}
Chlamydia - NHS.UK
{% endblock %}


{% block pageTitle %}
Chlamydia

{% endblock %}

{% block sidenav %}

<ol>
  <li><a href="#about">About chlamydia</a></li>
  <li><a href="#symptoms">Symptoms</a></li>
  <li><a href="#people-at-risk">People at risk</a></li>
  <li><a href="#causes-of-chlamydia">Causes of chlamydia</a></li>
  <li><a href="#treatment">Treatment</a></li>
  <li><a href="#six">Self-care during treatment</a></li>
  <li><a href="#seven">If chlamydia is not treated</a></li>
  <li><a href="#eight">Prevent chlamydia</a></li>
</ol>

{% endblock %}

{% block content %}

<a name="one"></a>

<h2>1. About chlamydia</h2>

<p>Chlamydia is the most common sexually transmitted infection (STI). Men and women can get it.</p>

<p>Anyone who has unprotected sex can get chlamydia.</p>

<p>You could have chlamydia even if you don't have any symptoms, or your symptoms go away.</p>

<p>The only way to know if you have it is to <a href="intro">get a chlamydia test</a>.</p>

<p>It's easy to treat with medical help.</p>

<a name="symptoms"></a>

<h2>2. Symptoms</h2>

<h3>Women</h3>

<p>The symptoms of chlamydia in women are:</p>

<ul>
<li>bleeding between periods (even if you use contraception)</li>
<li>vaginal discharge that's not usual for you</li>
<li>bleeding after or during sex</li>
<li>pain when you pee or have sex</li>
<li>pelvic pain </li>
<li>discharge from your bottom</li>
<li>pain, swelling and discharge in your eyes (<a href="https://www.nhs.uk/Conditions/Conjunctivitis-infective/Pages/Introduction.aspx">conjunctivitis</a>)</li>
</ul>
  
<h3>Men</h3>

<p>The symptoms of chlamydia in men are:</p>

<ul>
<li>discharge from your penis or bottom</li>
<li>pain when you pee</li>
<li>pain in your testicles</li>
<li>pain, swelling and discharge in your eyes (<a href="https://www.nhs.uk/Conditions/Conjunctivitis-infective/Pages/Introduction.aspx">conjunctivitis</a>)</li>
</ul>
  
<div class="primary-care">
  <p><b>If you think you have any symptoms you should get a test.</b></p>
  <p>We can help you find a test that’s right for you.</p>
<a href="intro" class="button" style="color: #fff;
                       background-color: #3E8117;
                       font-weight: bold;
                       padding-right: 3rem;
                       background-repeat: no-repeat;
                       background-position: 95% 55%;
                       background-image: url('/public/images/icon-button-right-chevron.svg');">Get a chlamydia test</a>
</div>

<a name="people-at-risk"></a>

<h2>3. People at risk</h2>

<p>Anyone who has sex can get chlamydia and pass it on. You don't need to have sex with lots of people to be at risk.</p>

<p>You're more at risk and should get a chlamydia test if any of the following apply:</p>

<ul>
<li>you've had unprotected sex with a new partner</li>
<li>you or your sexual partner had unprotected sex with someone else</li>
<li>someone you've had sex with thinks they have symptoms</li>
<li>someone you've had sex with has recently had a test for chlamydia</li>
<li>someone you've had sex with tells you they have chlamydia or a sexually transmitted infection (STI)</li>
<li>you have a different STI</li>
<li>you're pregnant or planning a pregnancy</li>
</ul>
  
<div class="muted">
If you think you're at risk, <a href="intro">get a chlamydia test</a>.
</div>

<a name="causes-of-chlamydia"></a>

<h2>4. Causes of chlamydia</h2>

<p>Chlamydia is a bacteria that's found in people who have the infection. It can live in the:</p>

<ul>
<li>cervix (entrance to the womb)</li>
<li>urethra (tube that your pee comes out)</li>
<li>bottom</li>
<li>throat</li>
<li>eyes - contact with infected semen or vaginal fluid can cause conjunctivitis</li>
</ul>

<p>Chlamydia is usually passed on by:</p>

<ul>
<li>having unprotected vaginal, anal or oral sex</li>
<li>sharing sex toys - if you don't wash them or cover them with a new condom</li>
</ul>
  
<p>Chlamydia can also be passed from a pregnant woman to her baby.</p>

<h3>When you won't catch chlamydia</h3>

<p>You can't get chlamydia from kissing, hugging, swimming pools, toilet seats, sharing baths, towels, cups, plates or cutlery.</p>

<a name="treatment"></a>

<h2>5. Treatment</h2>

<p>If you have chlamydia a health professional will give you antibiotics. It's usually one of the following:</p>

<ul>
<li><a href="azithromycin">azithromycin</a> - you'll take 2 or 4 tablets at once, by mouth</li>
<li><a href="doxycycline">doxycycline</a> - you'll take 2 capsules a day for 1 week, by mouth</li>
</ul>
  
<p>You might be given antibiotics before you get your test results. This could happen if it's likely that you have chlamydia, for example you have symptoms.</p>

<p>After you've finished the antibiotics, you may be told to have another chlamydia test to check it's gone.</p>

<a name="six"></a>

<h2>6. While you're having treatment</h2>

<p>NEEDED.</p>

<a name="seven"></a>

<h2>7. If chlamydia is not treated</h2>

<p>NEEDED.</p>

<a name="eight"></a>

<h2>8. Prevent chlamydia</h2>

<p>NEEDED.</p>


{% endblock %}
