{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Where you can get a test
{% endblock %}


{% block pageTitle %}
Where you can get a test
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}

<h2>Where you can order a self-test kit online to be delivered to you</h2>

<span style="font-size: 22px; font-weight: 600; ">RU Clear</span><br />
Website: <a href="https://www.ruclear.co.uk/greater_manchester/get_tested/" target="_blank">www.ruclear.co.uk</a><br />
Covers: Greater Manchester Authority
<div class="muted" style="margin-top: 16px; margin-bottom: 48px;">You can usually order a free self-test kit if you're under 25 years old. If you can't get a free kit, you can still buy a kit.  You'll have to send your samples by post to be tested.
</div>

<h2 style="margin-bottom: 32px;">Where you can pick up a self-test kit</h2>

<span style="font-size: 22px; font-weight: 600; ">Higher Broughton Health Centre</span><br />
<span style="font-size: 16px;">0.4 miles away</span><br />
55 Rigby St, Salford M7 4NX (<a href="">View on map</a>)<br />
<span style="margin-top: 8px;">Telephone: 0161 792 2582</span>
<div class="muted" style="margin-top: 16px; margin-bottom: 16px;">You can pick up a self-test kit from the pharmacy for free if you are under 25 years old. You'll have to send your samples by post to be tested.</div>
<details role="group">
            <summary class="more-info" role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="false">
                <span>View opening times</span>
            </summary>
            <div id="details-content-1" aria-hidden="true">

                <table class="gpOpeningTimes">
                    <tbody>
                        <tr>
                            <td class="left60">Monday</td>
                            <td class="right">8am to 6pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Tuesday</td>
                            <td class="right40">8am to 8.30pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Wednesday</td>
                            <td class="right">8am to 6pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Thursday</td>
                            <td class="right">8am to 6pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Friday</td>
                            <td class="right">8am to 5pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Saturday</td>
                            <td class="right40">Closed</td>
                        </tr>
                        <tr>
                            <td class="left60">Sunday</td>
                            <td class="right40">Closed</td>
                        </tr>
                    </tbody>
                </table>
            </div>
</details>

<div style="background-color: #d9e1e2; height: 4px; position: absolute; width: 130px; margin-bottom: 128px;"></div>

<h2>Places you can see someone</h2>

<span style="font-size: 22px; font-weight: 600; ">Marie Stopes</span><br />
0.1 miles away<br />
55 Rigby St, Salford M7 4NX (<a href="">view on map</a>)<br />
Telephone: 0345 300 8090
<div class="muted" style="margin-top: 16px; margin-bottom: 48px;">You do not have to make an appointment. You can walk in. You may have to wait several hours before you are seen by a specialist.</div>

<span style="font-size: 22px; font-weight: 600; ">Boots Pharmacy</span><br />
0.3 miles away<br />
55 Rigby St, Salford M7 4NX (<a href="">view on map</a>)<br />
Telephone: 0161 832 6533
<div class="muted" style="margin-top: 16px; margin-bottom: 48px;">This pharmacy has a booth where you can talk to a qualified pharmacist in private. Here, you'll be given a self-test kit. You'll have to send your samples by post to be tested.</div>

<span style="font-size: 22px; font-weight: 600; ">Manchester Royal Infirmary</span><br />
0.5 miles away<br />
Telephone: 0161 276 1234
<div class="muted" style="margin-top: 16px; margin-bottom: 48px;">You do not have to make an appointment. You can walk in and speak to reception about what to do. You may have to wait several hours before you are seen by a doctor.</div>

<span style="font-size: 22px; font-weight: 600; ">The Arch Medical Practice</span><br />
1.7 miles away<br />
Telephone: 0161 226 0606
<div class="muted" style="margin-top: 16px; margin-bottom: 48px;">This is a GP surgery that has sexual health appointments. You can make an appointment even if this is not your GP surgery. Phone for more information.</div>

<!-- Alternatively you could get a self-test kit. <a hredf="">Find out more</a>. -->

{% endblock %}


{% block body_after %}

{% endblock %}
