{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Where would you like to find help? (users-location-online)
{% endblock %}


{% block pageTitle %}
Where would you like to find help? (users-location-online)
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}

<form class="form" id="pageform" method="get">
  <div class="form-group">
    <fieldset>
      <legend class="visually-hidden">
      </legend>
      <div class="form-group form-group-compound">
        <label class="form-label" for="address-line-1" style="font-weight:400;">This can be a street, town, city, or postcode.</label>
        <input class="form-control" type="text" name="location" id="address-line-1">
      </div>
    </fieldset>
  </div>

  <input type="submit" class="button" value="Continue" formaction="/design_sprint_2/places-to-go" >
</form>

{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
