* {
	font-family:"Frutiger W01";
}

body {
	background:#e8edee;
}

a,
a:link {
	color: #0058ad;
}

a:focus {
   background: #ffb81c ;
   box-shadow: 0 0 0 4px #ffb81c ;
   color: #212b32 ;
   outline: 0;
}

a:hover {
   background: #ffcd60 ;
   box-shadow: 0 0 0 4px #ffcd60 ;
   color: #212b32 ;
   text-decoration: none;
}

a:active {
   background: #ffbf33 ;
   box-shadow: 0 0 0 4px #ffbf33 ;
   color: #374047 ;
}

#global-header{
	background-color: #0058ad;
	border:none;
}

#global-footer {
	margin-top:32px;
	background:#0058ad;
	border-top:none;
}

.clear {
	clear:both;
}

.muted {
    padding: 10px 20px;
	margin-bottom:0;
	background-color: #d9e1e2;
    border-left: solid 6px #768692;
	display:inline-block;
}

.header-panel {
	padding:0;
	margin-bottom:0;
	background:none;
}

	.header-panel h1.h2 {
		padding-top:0;
	}
	
	.header-panel .header {
		margin-bottom:0;
	}
	
	.header-panel .subheader {
		padding-top:0;
		margin-top:0;
		margin-bottom:32px;
		font-weight:300;
		font-size:24px;
		line-height:32px;
	}

	.header-panel h1,
	.header-panel h2,
	.header-pane li {
		color:#231f20;
	}
	
	.header-panel .subheader {
		margin-bottom:0;
	}
	
	.header-panel .content-seperator {
		margin-top:32px;
		margin-bottom:32px;
	}
	
.column--one-third {
    float: left;
    width: 33.33333%;
}

@media only screen and (max-width: 740px) {
    .column--one-third {
        float:none;
		width:100%;
    }
	
		.column--one-third ol {
			margin-bottom:0;
		}
}

.main-content {
	position:relative;
}

	.main-content-nav {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
	}
	
		.main-content-nav .skip-nav {
			position:absolute;
			left:-10000px;
			top:auto;
			width:1px;
			height:1px;
			overflow:hidden;
		}
		
		.main-content-nav .skip-nav:focus {
			position:static;
			width:auto;
			height:auto;
		}
	
		.main-content-nav li {
			margin-bottom:10px;
		}
		
			.main-content-nav ol li ul {
				padding:0 0 10px 25px;
				margin:0;
				display:none; /* Hide for testing on 15th Feb */
			}
			
				.main-content-nav ol li ul li {
					padding:0;
					margin:10px 0 0 0;
					line-height:24px;
					font-size:18px;
					color:#768692;
				}	
	
	.main-content-right {
		float:right;
	}
	
		.back-top {
			display:none;
		}
		
@media only screen and (max-width: 640px) {
	
	.main-content-nav {
		position:relative;
	}
	
	.main-content-right {
		float:none;
	}
	
	.back-top {
		margin:0;
		display:inline-block;
	}
}

#content:after {
  content: "";
  display: table;
  clear: both;
}
	
	#menu ol,
	#menu ul {
		margin-bottom:0;
	}

	.callout-info {
		padding: 34px 24px 24px 24px;
		margin: 52px 0 32px 0;
		background: #fff;
		border-top:#0058ad 3px solid;
		position: relative;
	}

		.callout-info:after {
			content: "i";
			font-size: 32px;
			font-weight: 600;
			color: #fff;
			text-align: center;
			width: 32px;
			padding:8px;
			position: absolute;
			display: block;
			top: -26px;
			left: 0px;
			background: #0058ad;
		}

	.remote-care {
		padding-bottom:32px;
		margin:62px 0 32px 0;
		background:#fff;
		box-sizing:border-box;
	}
	
		.remote-care * {
			box-sizing:border-box;
		}
	
		.remote-care h3 {
			padding:10px 20px;
			display:block;
			background:#333;
			color:#fff;
			position:relative;
		}
		
			.remote-care h3:after {
				content:"";
				position:absolute;
				bottom:-15px;
				left:20px;
				width: 0px;
				height: 0px;
				border-left: 15px solid transparent;
				border-right: 15px solid transparent;
				border-top: 15px solid #333;
			}
			
		.remote-care p {
			margin:32px 20px 0 20px;
		}
		
		.remote-care ul {
			padding-left:40px;
		}
		
			.remote-care ul li {
				line-height:20px;
			}
			
			.remote-care ul li:before {
			}
		
		.remote-care .green-button {
			margin:20px 20px 0 20px;
		}
		
@media only screen and (max-width: 540px) {	
	
		.remote-care .green-button {
			width:90%;
			margin:32px auto 0 auto;
			display:block;
			font-size:16px;
		}
		
}

@media only screen and (max-width: 330px) {	
	
		.remote-care .green-button {
			padding:0 40px 0 10px;
		}
		
}