.clear {
	clear:both;
}

.header-panel h1.h2 {
	padding-top:0;
}


/*########### Chlamydia v5 ###########*/

.header-panel .header {
	margin-bottom:0;
}

.header-panel .subheader {
	padding-top:0;
	margin-top:-10px;
	margin-bottom:32px;
	font-weight:300;
	font-size:24px;
}

.muted {
    padding: 10px 20px;
	margin-bottom:0;
	background-color: #d9e1e2;
    border-left: solid 6px #768692;
	display:inline-block;
}

.bottom-continue-reading {
	padding-top:32px;
	margin-top:32px;
	border-top:#d9e1e2 4px solid;
}

	.bottom-continue-reading h4 {
		padding:0;
		margin:0 0 20px 0;
	}

.bottom-test {
}

	.bottom-test h4 {
		padding:0;
		margin:32px 0 20px 0;
	}
	




/*########### Chlamydia v5b ###########*/

.header-panel.white {
	padding:0;
	margin-bottom:0;
	background:none;
}

	.header-panel.white h1,
	.header-panel.white h2,
	.header-panel.white li {
		color:#231f20;
	}
	
	.header-panel ol li.test {
		list-style:none;
		margin-left:-20px;
	}
	
.column--one-third {
    float: left;
    width: 33.33333%;
}

@media only screen and (max-width: 740px) {
    .column--one-third {
        float:none;
		width:100%;
    }
	
		.column--one-third ol {
			margin-bottom:0;
		}
}

.article-pagination {
	padding:0;
	margin:0;
	list-style:none;
}

.article-pagination:after {
  content: "";
  display: table;
  clear: both;
}

	.article-pagination li a {
		display:block;
		text-decoration:none;
	}

	.article-pagination__item--right,
	.article-pagination__item--left {
		padding:0;
		margin:0;
	}

	.article-pagination__item--right {
		float:right;
		text-align:right;
	}
	
	.article-pagination__item--left {
		float:left;
		text-align:left;
	}
	
		.article-pagination__prefix {
			color:#231f20;
			display:block;
		}
	
		.article-pagination__title {
			display:block;
			font-size:16px;
			color:#0072c6;
			text-decoration:underline;
		}




/*########### Chlamydia v5c ###########*/

/*.proto-5c .header-panel.white h1 {
		margin-bottom:32px;
}

.proto-5c .header-panel h2 {
	display:none;
}*/

.header-panel.white .subheader {
	margin-bottom:0;
}

.header-panel.white .content-seperator {
	margin-top:32px;
	margin-bottom:32px;
}

.main-content {
	position:relative;
}

	.main-content-nav {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
	}
	
		.main-content-nav li {
			margin-bottom:10px;
			font-size:20px;
		}
		
			.main-content-nav ol li ul {
				padding:0 0 10px 25px;
				margin:0;
				display:block;
			}
			
				.main-content-nav ol li ul li {
					padding:0;
					margin:10px 0 0 0;
					line-height:24px;
					font-size:18px;
					color:#768692;
				}	
	
	.main-content-right {
		float:right;
	}
	
		.back-top {
			display:none;
		}

#content:after {
  content: "";
  display: table;
  clear: both;
}

.bottom-continue-reading .grid-2-3 {
	float:right;
}

@media only screen and (max-width: 640px) {
	
/*	.proto-5c .header-panel.white h1 {
		margin-bottom:0;
	}
	
	.proto-5c .header-panel h2 {
		display:block;
	}*/
	
	.main-content-nav {
		position:relative;
	}
	
	.main-content-right {
		float:none;
	}
	
	.back-top {
		display:inline;
	}
}