#global-footer {
	margin-top:32px;
	background:#0072c6;
	border-top:none;
}

.clear {
	clear:both;
}

.header-panel h1.h2 {
	padding-top:0;
}


/*########### Chlamydia v5 ###########*/

.header-panel .header {
	margin-bottom:0;
}

.header-panel .subheader {
	padding-top:0;
	margin-top:0;
	margin-bottom:32px;
	font-weight:300;
	font-size:24px;
	line-height:32px;
}

.muted {
    padding: 10px 20px;
	margin-bottom:0;
	background-color: #d9e1e2;
    border-left: solid 6px #768692;
	display:inline-block;
}

.bottom-continue-reading {
	padding-top:32px;
	margin-top:32px;
	border-top:#d8dde0 4px solid;
	position:relative;
}

	.bottom-continue-reading:after {
		content:"";
		width:0;
		height:0;
		display:block;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-top:15px solid #d8dde0;
		position:absolute;
		top:0;
		left:0;
	}
		

	.bottom-continue-reading h3 {
		padding:0;
		margin:0 0 20px 0;
	}
	
	.bottom-continue-reading p {
		margin-top:0;
	}

.bottom-test {
}

	.bottom-test h4 {
		padding:0;
		margin:32px 0 20px 0;
	}
	




/*########### Chlamydia v5b ###########*/

.header-panel.white {
	padding:0;
	margin-bottom:0;
	background:none;
}

	.header-panel.white h1,
	.header-panel.white h2,
	.header-panel.white li {
		color:#231f20;
	}
	
	.header-panel ol li.test {
		list-style:none;
		margin-left:-20px;
	}
	
.column--one-third {
    float: left;
    width: 33.33333%;
}

@media only screen and (max-width: 740px) {
    .column--one-third {
        float:none;
		width:100%;
    }
	
		.column--one-third ol {
			margin-bottom:0;
		}
}

.article-pagination {
	padding:0;
	margin:0;
	list-style:none;
}

.article-pagination:after {
  content: "";
  display: table;
  clear: both;
}

	.article-pagination li a {
		display:block;
		text-decoration:none;
	}

	.article-pagination__item--right,
	.article-pagination__item--left {
		padding:0;
		margin:0;
	}

	.article-pagination__item--right {
		float:right;
		text-align:right;
	}
	
	.article-pagination__item--left {
		float:left;
		text-align:left;
	}
	
		.article-pagination__prefix {
			color:#231f20;
			display:block;
		}
	
		.article-pagination__title {
			display:block;
			font-size:16px;
			color:#0072c6;
			text-decoration:underline;
		}




/*########### Chlamydia v5c ###########*/

/*.proto-5c .header-panel.white h1 {
		margin-bottom:32px;
}

.proto-5c .header-panel h2 {
	display:none;
}*/

.header-panel.white .subheader {
	margin-bottom:0;
}

.header-panel.white .content-seperator {
	margin-top:32px;
	margin-bottom:32px;
}

.main-content {
	position:relative;
}

	.main-content-nav {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
	}
	
		.main-content-nav .skip-nav {
			position:absolute;
			left:-10000px;
			top:auto;
			width:1px;
			height:1px;
			overflow:hidden;
		}
		
		.main-content-nav .skip-nav:focus {
			position:static;
			width:auto;
			height:auto;
		}
	
		.main-content-nav li {
			margin-bottom:10px;
		}
		
			.main-content-nav ol li ul {
				padding:0 0 10px 25px;
				margin:0;
				display:none; /* Hide for testing on 15th Feb */
			}
			
				.main-content-nav ol li ul li {
					padding:0;
					margin:10px 0 0 0;
					line-height:24px;
					font-size:18px;
					color:#768692;
				}	
	
	.main-content-right {
		float:right;
	}
	
		.back-top {
			display:none;
		}

#content:after {
  content: "";
  display: table;
  clear: both;
}

.bottom-continue-reading .grid-2-3 {
	float:right;
}
	
	.green-button {
		margin:0;
		padding-right: 3rem;
		background-repeat: no-repeat;
		background-position: 95% 60%;
		background-image: url(/images/icon-button-right-chevron.svg);
	}

@media only screen and (max-width: 640px) {
	
	.main-content-nav {
		position:relative;
	}
	
	.main-content-right {
		float:none;
	}
	
	.back-top {
		margin:0;
		display:inline-block;
	}
}




/*########### Chlamydia v6 ###########*/

.proto-6 {
	background:#e8edee;
}

	.proto-6 #menu ul {
		list-style-image: url('/images/external.png');
	}
	
	.proto-6 #menu ol {
		margin-bottom:0;
	}

	.remote-care {
		padding-bottom:32px;
		margin:32px 0;
		background:#fff;
		box-sizing:border-box;
	}
	
		.remote-care * {
			box-sizing:border-box;
		}
	
		.remote-care h3 {
			padding:10px 20px;
			display:block;
			background:#333;
			color:#fff;
			position:relative;
		}
		
			.remote-care h3:after {
				content:"";
				position:absolute;
				bottom:-15px;
				left:20px;
				width: 0px;
				height: 0px;
				border-left: 15px solid transparent;
				border-right: 15px solid transparent;
				border-top: 15px solid #333;
			}
			
		.remote-care p {
			margin-left:20px;
			margin-right:20px;
			margin-bottom:0;
		}
		
		.remote-care ul {
			padding-left:30px;
			list-style:none;
		}
		
			.remote-care ul li {
				line-height:20px;
			}
			
			.remote-care ul li:before {
			  content: '✓';
			  padding:0 10px 0 0;
			}
		
		.remote-care .green-button {
			padding:0 50px 0 20px;
			margin:0 20px;
			text-align:left;
			background-position: 94% 65%;
		}
		
@media only screen and (max-width: 540px) {	
	
		.remote-care .green-button {
			width:90%;
			margin:0 auto;
			display:block;
			font-size:16px;
		}
		
}

@media only screen and (max-width: 330px) {	
	
		.remote-care .green-button {
			padding:0 40px 0 10px;
		}
		
}