{% extends '_layouts/layout_index_in_blue_box.html' %}


{% block page_title %}
Chlamydia - NHS.UK
{% endblock %}


{% block pageTitle %}
Chlamydia

{% endblock %}

{% block leftContent %}

<ol>
  <li><a class="on-blue" href="condition-main">About chlamydia</a></li>
  <li>Symptoms</li>
  <li><a class="on-blue" href="condition-page-3">People at risk</a></li>

</ol>

{% endblock %}

{% block rightContent %}

<ol start="4">
  <li><a class="on-blue" href="condition-page-4">Causes of chlamydia</a></li>
  <li><a class="on-blue" href="condition-page-5">Treatment</a></li>
</ol>

{% endblock %}

{% block content %}

<h2>Symptoms</h2>

<h3 style="margin-top:32px;">Women</h3>

<p>The symptoms of chlamydia in women are:</p>

<ul>
<li>bleeding between periods (even if you use contraception)</li>
<li>vaginal discharge that's not usual for you</li>
<li>bleeding after or during sex</li>
<li>pain when you pee or have sex</li>
<li>pelvic pain </li>
<li>discharge from your bottom</li>
<li>pain, swelling and discharge in your eyes (<a href="https://www.nhs.uk/Conditions/Conjunctivitis-infective/Pages/Introduction.aspx">conjunctivitis</a>)</li>
</ul>

<h3>Men</h3>

<p>The symptoms of chlamydia in men are:</p>

<ul>
<li>discharge from your penis or bottom</li>
<li>pain when you pee</li>
<li>pain in your testicles</li>
<li>pain, swelling and discharge in your eyes (<a href="https://www.nhs.uk/Conditions/Conjunctivitis-infective/Pages/Introduction.aspx">conjunctivitis</a>)</li>
</ul>

<div class="primary-care" style="margin-top: 32px; margin-bottom:32px;">
  <p style="margin-top: 0;"><b>If you think you have any symptoms you should get a test.</b></p>
  <p>We can help you find a test that’s right for you.</p>
<a href="intro" class="button" style="
                       padding-right: 3rem;
                       background-repeat: no-repeat;
                       background-position: 95% 60%;
                       background-image: url(/images/icon-button-right-chevron.svg);">Find out about chlamydia tests</a>
</div>
{% endblock %}
