{% extends '_layouts/layout_index_in_blue_box.html' %}


{% block page_title %}
Chlamydia - NHS.UK
{% endblock %}


{% block pageTitle %}
Chlamydia

{% endblock %}

{% block leftContent %}

<ol>
  <li><a class="on-blue" href="condition-main">About chlamydia</a></li>
  <li><a class="on-blue" href="condition-page-2">Symptoms</a></li>
  <li>People at risk</li>

</ol>

{% endblock %}

{% block rightContent %}

<ol start="4">
  <li><a class="on-blue" href="condition-page-4">Causes of chlamydia</a></li>
  <li><a class="on-blue" href="condition-page-5">Treatment</a></li>
</ol>

{% endblock %}

{% block content %}

<h2>People at risk</h2>

<p>Anyone who has sex can get chlamydia and pass it on. You don't need to have sex with lots of people to be at risk.</p>

<p>You're more at risk and should get a chlamydia test if any of the following apply:</p>

<ul>
<li>you have a new sexual partner</li>
<li>you or your sexual partner had unprotected sex with someone else</li>
<li>someone you've had sex with thinks they have symptoms</li>
<li>someone you've had sex with has recently had a test for chlamydia</li>
<li>someone you've had sex with tells you they have chlamydia or a sexually transmitted infection (STI)</li>
<li>you have a different STI</li>
<li>you're pregnant or planning a pregnancy</li>
</ul>

<div class="primary-care" style="margin-top: 32px; margin-bottom:32px;">
If you think you're at risk, <a href="intro">get a chlamydia test</a>.
</div>


{% endblock %}
