{% extends '_layouts/layout_2-3_no-precis.html' %}


{% block page_title %}
Get tested for chlamydia
{% endblock %}


{% block pageTitle %}
Get tested for chlamydia
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}


<h2>When to get tested</h2>

<p>You should get tested if you have any <a href="condition#symptoms">symptoms of chlamydia</a> or you're <a href="condition#people-at-risk">at risk</a>.</p>

<div class="callout">
<p>The only way to know if you have <a href="condition">chlamydia</a> is to get tested. You might have no symptoms.</p>
</div class="callout">

<p>You might be told to get tested 2 weeks after unprotected sex. This is because it can take 2 weeks for chlamydia to show up in a test.
</p>

<h2>How you'll be tested</h2>

<p>Samples will be taken from the areas that might be infected using one or more of the following methods:</p>

<ul>
  <li>swab inside the vagina, bottom or mouth using a cotton bud</li>
  <li>pee into a container</li>
</ul>

<p>Your samples will be sent to a lab and tested for chlamydia. You'll get your results by phone or text message.</p>

<p>If you see a health professional they'll also ask questions about your sexual activity and symptoms. This will help them decide what samples to take.</p>

<h2>Where you can get tested</h2>

<p>The best ways to get tested for chlamydia are to:</p>

<ul>
  <li>see a sexual health professional</li>
  <li>get a self-test kit from a pharmacy</li>
  <li>order a self-test kit online</li>
</ul>


<div class="beware">
<b>We can help you find a test that's right for you.<br />
  <br />
We'll ask you a few questions. It will take about 5 minutes. We won't store your data.</b>
</div>

<form class="form" id="pageform" method="get">
  <div class="form-group">
  <input type="submit" class="button" style="
                       padding-right: 3rem;
                       background-repeat: no-repeat;
                       background-position: 95% 60%;
                       background-image: url(/images/icon-button-right-chevron.svg);"
         value="Find a test" formaction="check-for-symptoms">
</div>
</form>

{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
