
.attention {
  border: 12px solid #40add7;
  padding: $leading*2;
}

.callout {
  background-color: $callout-background;
  border: solid $callout-border;
  border-width: 4px 0;
  padding: $leading*2;
  margin: $leading*2 0;
}

.callout p {
  padding: 0;
  margin: 0;
}

.primary-care {
  border: 8px solid #0072ce;
  padding: 32px;
}

.info-panel {
  border-left: solid 4px $dark-blue2;
  padding: 0 $leading*1.5;
  margin-bottom: $leading;
}

.muted {
  background-color: #d9e1e2;
  padding: $leading*0.5 $leading $leading*0.5 $leading*2;
  border-left: solid 6px $black;
  margin-bottom: 32px;

}

.beware {
  background-color: #ffffff;
  padding: $leading*0.5 $leading $leading*0.5 $leading*2;
  border-left: solid 12px $black;
  margin-top: 64px;
  margin-bottom: 64px;

}


.severe {
  border-top: 12px solid #d81e05;
  background-color: #fbe8e6;
  padding: $leading;

}

.severe hr {
  background-color: #768692;
}

.warning {
  background-color: #f8e9e6;
  padding: $leading $leading*2 $leading $leading*2;
  border-top: solid 4px #da291c;
  margin-bottom: 32px;
}

.warning-yellow {
  background-color: #fada88;
  padding: $leading $leading*2 $leading $leading*2;
  border-top: solid 4px #ffb81c;
  margin-bottom: 32px;
}

.warning-against-form {
  background-color: #f8e9e6;
  padding: $leading $leading $leading*0.25 $leading*2;
  border-left: solid 5px #da291c;
  margin-bottom: 32px;
}

.warning-against-form-no-bg {
  padding: 0 0 0 24px;
  border-left: solid 4px #da291c;
  margin-bottom: 32px;
}

.form-warning {
  background-color: #f8e9e6;
  padding: $leading $leading*2 $leading $leading*2;
  border-top: solid 4px #da291c;
  margin-bottom: 32px;
}

.panel {
  background-color: #f0f4f5;
  display: table;
  width: 100%; 
}

.panel:after {
  clear: both;
  content: "";
  display: table;
}

.panel__header {
  padding: 16px;
  background-color: #d8dde0;
}

@media (min-width: 925px) {
  .panel__header {
    padding: 32px; 
  } 
}
.panel__header + * { margin-top: 0; }

.panel__content {
  padding: 16px; 
}
@media (min-width: 925px) {
  .panel__content {
    padding: 32px; 
  } 
}

.panel__content--half {
  border: solid #d8dde0;
  border-width: 4px 0 0; 
}
@media (min-width: 925px) {
  .panel__content--half {
    border-width: 0 0 0 4px;
    display: table-cell;
    width: 50%; 
  }
}
.panel__content--half + * {
  margin-top: 0;
}

.panel__footer {
  padding: 16px;
  background-color: #d8dde0;
}

@media (min-width: 925px) {
  .panel__footer {
    padding: 32px; 
  }
}
* + .panel__footer {
  margin-top: 0;
}

.list--check,
.list--cross {
  list-style: none;
  padding-left: 32px;
}
.list--check li,
.list--cross li {
  position: relative; 
}
.list--check li::before, .list--check li::after,
.list--cross li::before,
.list--cross li::after {
  content: "";
  left: -32px;
  position: absolute;
  zoom: 1;
}

.list--check li::before {
  background: transparent;
  border: solid;
  border-color: #007f3b;
  border-width: 0 0 5px 5px;
  height: 12px;
  top: 7px;
  transform: rotate(-45deg);
  width: 22px;
}

.list--cross li::before, .list--cross li::after {
  background: #da291c;
  height: 5px;
  top: 12px;
  transform: rotate(45deg);
  width: 24px;
}

.list--cross li::after {
  transform: rotate(-45deg);
}
