{% extends './layout_index.html' %}

{% block page_title %}
Chlamydia - NHS.UK
{% endblock %}


{% block pageTitle %}
Chlamydia
{% endblock %}

{% block pageSubTitle %}
Telling your partner
{% endblock %}

{% block navContent %}
<ol>
  <li><a href="condition-main">About</a></li>
  <li><a href="condition-page-3">Check symptoms and who should get tested</a></li>
  <li><a href="condition-page-5">Treatment</a></li>
  <li><strong>Telling your partner</strong></li>
  <li><a href="condition-page-7">Protect yourself</a></li>
  <li><a href="condition-page-4">Causes</a></li>
  <li><a href="condition-page-9">If it's not treated</a></li>
</ol>
<ul>
	<li><a href="https://primary-care-data-prototype.herokuapp.com/1-intro" target="_blank">Get tested</a></li>
</ul>
{% endblock %}

{% block content %}

<h2>Telling your partner that you have chlamydia</h2>

<p>If you have chlamydia, you should tell any sexual partners you've had in the last 6 months. They should then get tested for chlamydia.</p>

<p>If you don't want to do this yourself, a health professional can do it for you. This is called partner notification.</p>

<p>They won't tell anyone unless you ask them to, and you are able to provide contact details for the people you've had sex with.</p>

<p>They will not give your name to anyone that they notify.</p>

{% endblock %}
