{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Where to get tested
{% endblock %}


{% block pageTitle %}
Where to get tested
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}

<div class="warning">
<b>You should get tested by a health professional</b>

</div>


<form class="form" id="pageform" method="get">

  <p>This is because you have symptoms. They can check if your symptoms are caused by something else. </p>
  <p>You can see your GP or a sexual health professional.</p>



<input id="checkbox-3" type="hidden" name="multiChoose" value="choose-location" />


<input type="submit" class="button" value="Find a sexual health professional" formaction="/design_sprint_3a/need-time">

</form>

{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
