{% extends '_layouts/layout_index_in_blue_box.html' %}


{% block page_title %}
Chlamydia - NHS.UK
{% endblock %}


{% block pageTitle %}
Chlamydia

{% endblock %}

{% block leftContent %}

<ol>
  <li>About</li>
  <li><a class="on-blue" href="condition-page-2">Symptoms</a></li>
  <li><a class="on-blue" href="condition-page-3">Who should get tested</a></li>
  <li><a class="on-blue" href="condition-test">How to get tested</a></li>
  <li><a class="on-blue" href="condition-page-5">Treatment and care</a></li>
</ol>

{% endblock %}

{% block rightContent %}

<ol start="6">
  <li><a class="on-blue" href="condition-page-8">Telling your partner</a></li>
  <li><a class="on-blue" href="condition-page-7">Protect yourself</a></li>
  <li><a class="on-blue" href="condition-page-4">Causes</a></li>
  <li><a class="on-blue" href="condition-page-9">If it's not treated</a></li>
  <!--<li><a class="on-blue" href="condition-page-6">Self-care</a></li>-->
</ol>

{% endblock %}

{% block content %}

<h2>About chlamydia</h2>

<p>Chlamydia is the most common sexually transmitted infection (STI). Anyone who has oral, vaginal or anal sex can get chlamydia or pass it on.</p>

<p>You could have chlamydia even if you have no symptoms, or your symptoms go away. </p>

<p>The only way to know if you have chlamydia is to get tested.</p>

<div class="muted" style="margin-top: 16px; margin-bottom: 8px;">
  <a href="condition-page-3">Check if you should get tested</a>
</div>

<p>Chlamydia is easy to treat with medical help.</p>

<p>If you don't treat it, chlamydia can lead to serious health problems such as pelvic inflammatory disease, lower fertility or infertility. </p>

<p>
  <span style="float:right"><a href="condition-page-2">2. Symptoms ></a></span>
</p>
{% endblock %}
