{% extends '_layouts/layout_index_in_blue_box.html' %}


{% block page_title %}
Chlamydia - NHS.UK
{% endblock %}


{% block pageTitle %}
Chlamydia

{% endblock %}

{% block leftContent %}

<ol>
  <li>About chlamydia</li>
  <li><a class="on-blue" href="condition-page-2">Symptoms</a></li>
  <li><a class="on-blue" href="condition-page-3">People at risk</a></li>

</ol>

{% endblock %}

{% block rightContent %}

<ol start="4">
  <li><a class="on-blue" href="condition-page-4">Causes of chlamydia</a></li>
  <li><a class="on-blue" href="condition-page-5">Treatment</a></li>
</ol>

{% endblock %}

{% block content %}

<h2>About chlamydia</h2>

<p>Chlamydia is the most common sexually transmitted infection (STI). Men and women can get it.</p>

<div class="callout">
<p>Anyone who has unprotected sex can get chlamydia.<br />
<br />
<p>You could have chlamydia even if you don't have any symptoms, or your symptoms go away.</p>
</div>

<p>The only way to know if you have it is to <a href="intro">get a chlamydia test</a>.</p>

<p>It's easy to treat with medical help.</p>


{% endblock %}
