{% extends '_layouts/layout_index_in_blue_box.html' %}


{% block page_title %}
Chlamydia - NHS.UK
{% endblock %}


{% block pageTitle %}
Chlamydia

{% endblock %}

{% block leftContent %}

<ol>
  <li><a class="on-blue" href="condition-main">About chlamydia</a></li>
  <li><a class="on-blue" href="condition-page-2">Symptoms</a></li>
  <li><a class="on-blue" href="condition-page-3">People at risk</a></li>

</ol>

{% endblock %}

{% block rightContent %}

<ol start="5">
  <li><a class="on-blue" href="condition-page-5">Treatment</a></li>
  <li><a class="on-blue" href="condition-page-6">Self-care</a></li>
  <li>Prevention</li>
</ol>

{% endblock %}

{% block content %}

<h2>Prevention</h2>



{% endblock %}
