{% extends '_layouts/layout_index_in_blue_box.html' %}


{% block page_title %}
Chlamydia - NHS.UK
{% endblock %}


{% block pageTitle %}
Chlamydia

{% endblock %}

{% block leftContent %}

<ol>
  <li><a class="on-blue" href="condition-main">About</a></li>
  <li><a class="on-blue" href="condition-page-3">People at risk</a></li>
  <li>Symptoms</li>
  <li><a class="on-blue" href="condition-test">Getting tested</a></li>
  <li><a class="on-blue" href="condition-page-5">Treatment and care</a></li>
</ol>

{% endblock %}

{% block rightContent %}

<ol start="6">
  <li><a class="on-blue" href="condition-page-8">Telling your partner</a></li>
  <li><a class="on-blue" href="condition-page-7">Protect yourself</a></li>
  <li><a class="on-blue" href="condition-page-4">Causes</a></li>
  <li><a class="on-blue" href="condition-page-9">If it's not treated</a></li>
  <!--<li><a class="on-blue" href="condition-page-6">Self-care</a></li>-->
</ol>

{% endblock %}

{% block content %}

<h2>Symptoms of chlamydia</h2>

<p>Most people who have chlamydia don’t notice any symptoms. You could have chlamydia even if you have no symptoms, or your symptoms go away.</>

<h3 style="margin-top:32px;">Females</h3>

<p>The symptoms of chlamydia in women are:</p>

<ul>
<li>bleeding between periods (even if you use contraception)</li>
<li>vaginal discharge that's not usual for you</li>
<li>bleeding after or during sex</li>
<li>pain when you pee or have sex</li>
<li>pelvic pain </li>
<li>discharge from your bottom</li>
<li>pain, swelling and discharge in your eyes (<a href="https://www.nhs.uk/Conditions/Conjunctivitis-infective/Pages/Introduction.aspx">conjunctivitis</a>)</li>
</ul>

<h3>Males</h3>

<ul>
<li>discharge from your penis or bottom</li>
<li>pain when you pee</li>
<li>pain in your testicles</li>
<li>pain, swelling and discharge in your eyes (<a href="https://www.nhs.uk/Conditions/Conjunctivitis-infective/Pages/Introduction.aspx">conjunctivitis</a>)</li>
</ul>

<div class="primary-care" style="margin-top: 32px; margin-bottom:32px;">
  If you think you have any symptoms you should <a href="condition-test">get a chlamydia test</a>.
</div>

<p>
  <span><a href="condition-page-3">< 2. People at risk</a></span>
  <span style="float:right"><a href="condition-test">4. Getting tested ></a></span>
</p>
{% endblock %}
