{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Where you can get a test
{% endblock %}


{% block pageTitle %}
Where you can get a test
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}

<h2 style="font-size: 26px; line-height: 30px; margin-bottom: 32px;">Where to order a self-test kit online</h2>

<span style="font-size: 22px; font-weight: 600; ">RU Clear</span><br />
Website: <a href="https://www.ruclear.co.uk/greater_manchester/get_tested/" target="_blank">www.ruclear.co.uk</a><br />
Covers: Greater Manchester Authority
<div class="muted" style="margin-top: 16px; margin-bottom: 48px;">You can usually order a free self-test kit if you're under 25 years old. If you can't get a free kit, you can still buy a kit.  You'll have to send your samples by post to be tested.
</div>

<div style="background-color: #d9e1e2; height: 4px; width: 130px; margin-bottom: 32px;"></div>

<h2 style="font-size: 26px; line-height: 30px; margin-bottom: 32px;">Pharmacies where you can buy a self-test kit</h2>

<span style="font-size: 22px; font-weight: 600; ">Boots Pharmacy</span><br />
<span style="font-size: 16px;">0.1 miles away</span><br />
Manchester Arndale, 32 Market St, Manchester M1 1PL (<a href="https://www.google.co.uk/maps/place/Boots/@53.4821702,-2.2434303,15z/data=!4m2!3m1!1s0x0:0xce862f7e1084d2ba?sa=X&ved=0ahUKEwjj0ruhuJ7XAhVR2aQKHaD9BN0Q_BIIeDAK">view on map</a>)<br />
Telephone: 0161 832 6533
<div class="muted" style="margin-top: 16px; margin-bottom: 8px;">This pharmacy has a booth where you can talk to a qualified pharmacist in private. Here, you'll be given a self-test kit. You'll have to send your samples by post to be tested.</div>
<details role="group" style="margin-top: 16px;">
            <summary class="more-info" role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="false">
                <span>View opening times</span>
            </summary>
            <div id="details-content-1" aria-hidden="true">

                <table class="gpOpeningTimes">
                    <tbody>
                        <tr>
                            <td class="left60">Monday</td>
                            <td class="right">8am to 6pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Tuesday</td>
                            <td class="right40">8am to 8.30pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Wednesday</td>
                            <td class="right">8am to 6pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Thursday</td>
                            <td class="right">8am to 6pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Friday</td>
                            <td class="right">8am to 5pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Saturday</td>
                            <td class="right40">Closed</td>
                        </tr>
                        <tr>
                            <td class="left60">Sunday</td>
                            <td class="right40">Closed</td>
                        </tr>
                    </tbody>
                </table>
            </div>
</details>

<span style="font-size: 22px; font-weight: 600; ">Boots Pharmacy</span><br />
<span style="font-size: 16px;">0.3 miles away</span><br />
11-13 Piccadilly, Manchester M1 1LY (<a href="https://www.google.co.uk/maps/place/Boots/@53.4816998,-2.2372917,15z/data=!4m5!3m4!1s0x0:0x808f34a6c558036!8m2!3d53.4816998!4d-2.2372917">view on map</a>)<br />
Telephone: 0161 832 6533
<div class="muted" style="margin-top: 16px; margin-bottom: 8px;">This pharmacy has a booth where you can talk to a qualified pharmacist in private. Here, you'll be given a self-test kit. You'll have to send your samples by post to be tested.</div>
<details role="group" style="margin-top: 16px;">
            <summary class="more-info" role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="false">
                <span>View opening times</span>
            </summary>
            <div id="details-content-1" aria-hidden="true">

                <table class="gpOpeningTimes">
                    <tbody>
                        <tr>
                            <td class="left60">Monday</td>
                            <td class="right">8am to 6pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Tuesday</td>
                            <td class="right40">8am to 8.30pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Wednesday</td>
                            <td class="right">8am to 6pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Thursday</td>
                            <td class="right">8am to 6pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Friday</td>
                            <td class="right">8am to 5pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Saturday</td>
                            <td class="right40">Closed</td>
                        </tr>
                        <tr>
                            <td class="left60">Sunday</td>
                            <td class="right40">Closed</td>
                        </tr>
                    </tbody>
                </table>
            </div>
</details>


<hr>

<h2 style="font-size: 26px; line-height: 30px; margin-bottom: 32px;">Places you can see someone</h2>

<span style="font-size: 22px; font-weight: 600; ">Marie Stopes</span><br />
<span style="font-size: 16px;">0.1 miles away</span><br />
5 Wynnstay Grove, Manchester M14 6XG (<a href="https://www.google.co.uk/maps/place/Marie+Stopes+International+Manchester+Centre/@53.4409082,-2.221287,15z/data=!4m2!3m1!1s0x0:0x209125cebbf4c603?sa=X&ved=0ahUKEwij_u2isp7XAhWDC-wKHbnGA3QQ_BIIfDAK">view on map</a>)<br />
Telephone: 0345 300 8090
<div class="muted" style="margin-top: 16px; margin-bottom: 8px;">You do not have to make an appointment. You can walk in. You may have to wait several hours before you are seen by a specialist.</div>
<details role="group" style="margin-top: 16px;">
            <summary class="more-info" role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="false">
                <span>View opening times</span>
            </summary>
            <div id="details-content-1" aria-hidden="true">

                <table class="gpOpeningTimes">
                    <tbody>
                        <tr>
                            <td class="left60">Monday</td>
                            <td class="right">8am to 6pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Tuesday</td>
                            <td class="right40">8am to 8.30pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Wednesday</td>
                            <td class="right">8am to 6pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Thursday</td>
                            <td class="right">8am to 6pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Friday</td>
                            <td class="right">8am to 5pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Saturday</td>
                            <td class="right40">Closed</td>
                        </tr>
                        <tr>
                            <td class="left60">Sunday</td>
                            <td class="right40">Closed</td>
                        </tr>
                    </tbody>
                </table>
            </div>
</details>

<span style="font-size: 22px; font-weight: 600; ">Manchester Royal Infirmary</span><br />
<span style="font-size: 16px;">0.5 miles away</span><br />
Oxford Rd, Manchester M13 9WL (<a href="https://www.google.co.uk/maps/place/Manchester+Royal+Infirmary/@53.4633628,-2.2265792,15z/data=!4m2!3m1!1s0x0:0xdc47eb19bae350ef?sa=X&ved=0ahUKEwidy8P1_J3XAhWHOBoKHW9PB2wQ_BIIeTAM">view on map</a>)<br />
Telephone: 0161 276 1234
<div class="muted" style="margin-top: 16px; margin-bottom: 8px;">You do not have to make an appointment. You can walk in and speak to reception about what to do. You may have to wait several hours before you are seen by a doctor.</div>
<details role="group" style="margin-top: 16px;">
            <summary class="more-info" role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="false">
                <span>View opening times</span>
            </summary>
            <div id="details-content-1" aria-hidden="true">

                <table class="gpOpeningTimes">
                    <tbody>
                        <tr>
                            <td class="left60">Monday</td>
                            <td class="right">8am to 6pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Tuesday</td>
                            <td class="right40">8am to 8.30pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Wednesday</td>
                            <td class="right">8am to 6pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Thursday</td>
                            <td class="right">8am to 6pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Friday</td>
                            <td class="right">8am to 5pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Saturday</td>
                            <td class="right40">Closed</td>
                        </tr>
                        <tr>
                            <td class="left60">Sunday</td>
                            <td class="right40">Closed</td>
                        </tr>
                    </tbody>
                </table>
            </div>
</details>


<span style="font-size: 22px; font-weight: 600; ">The Arch Medical Practice</span><br />
<span style="font-size: 16px;">1.7 miles away</span><br />
175 Royce Rd, Manchester M15 5TJ (<a href="https://www.google.co.uk/maps/place/The+Arch+Medical+Practice/@53.4677673,-2.2496736,15z/data=!4m5!3m4!1s0x0:0xf05b1f6123e21ccf!8m2!3d53.4677673!4d-2.2496736">view on map</a>)<br />
Telephone: 0161 226 0606

<div class="muted" style="margin-top: 16px; margin-bottom: 8px;">This is a GP surgery that has sexual health appointments. You can make an appointment even if this is not your GP surgery. Phone for more information.</div>
<details role="group" style="margin-top: 16px;">
            <summary class="more-info" role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="false">
                <span>View opening times</span>
            </summary>
            <div id="details-content-1" aria-hidden="true">

                <table class="gpOpeningTimes">
                    <tbody>
                        <tr>
                            <td class="left60">Monday</td>
                            <td class="right">8am to 6pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Tuesday</td>
                            <td class="right40">8am to 8.30pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Wednesday</td>
                            <td class="right">8am to 6pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Thursday</td>
                            <td class="right">8am to 6pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Friday</td>
                            <td class="right">8am to 5pm</td>
                        </tr>
                        <tr>
                            <td class="left60">Saturday</td>
                            <td class="right40">Closed</td>
                        </tr>
                        <tr>
                            <td class="left60">Sunday</td>
                            <td class="right40">Closed</td>
                        </tr>
                    </tbody>
                </table>
            </div>
</details>


{% endblock %}


{% block body_after %}

{% endblock %}
