{% extends './layout_index.html' %}

{% block page_title %}
Chlamydia - NHS.UK
{% endblock %}


{% block pageTitle %}
Chlamydia
{% endblock %}

{% block pageSubTitle %}
Who should get tested
{% endblock %}

{% block navContent %}
<ol>
  <li><a href="condition-main">About</a></li>
  <li><a href="condition-page-2">Symptoms</a></li>
  <li><strong>Who should get tested</strong></li>
  
  <li><a href="condition-page-5">Treatment and care</a></li>
  <li><a href="condition-page-8">Telling your partner</a></li>
  <li><a href="condition-page-7">Protect yourself</a></li>
  <li><a href="condition-page-4">Causes</a></li>
  <li><a href="condition-page-9">If it's not treated</a></li>
</ol>
{% endblock %}

{% block content %}

<h2>Who should get tested for chlamydia</h2>

<p>If you have a new sexual partner, you should both get tested for chlamydia.</p>

<p>You and your sexual partner (or partners) should get tested if you or they:</p>

<ul>
<li>have <a href="condition-page-2">symptoms</a></li>
<li>have unprotected sex with someone else - <a href="condition-page-7">check which contraception protects you from chlamydia</a></li>
<li>have a <a href="https://www.nhs.uk/conditions/sexually-transmitted-infections-stis/">sexually transmitted infection (STI)</a></li>
<li>had sex with someone who has chlamydia or a different STI</li>
<li>are pregnant or planning a pregnancy – if you have chlamydia, you can pass it to your baby</li>
</ul>

<div class="primary-care" style="margin-top: 32px; margin-bottom:32px;">
  <p style="margin: 0;">You don't have to see your GP to get tested. Find out about <a href="https://primary-care-data-prototype.herokuapp.com/1-intro">how to get a chlamydia test</a>.</p>
</div>

{% endblock %}
