<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
     <link rel="stylesheet" type="text/css" href="/stylesheets/alex.css">
    {% block html_head %}{% endblock %}
  </head>

  <body class="{% block body_css_classes %}{% endblock %} proto-5c">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    {% include '_includes/service-alert.html' %}

    {% block header_before %}{% endblock %}

    {% include '_includes/masthead.html' %}


    <main id="content" role="main" class="content">

        <div class="header-panel white">
          <div class="grid-row">
            <div class="grid-3-3">
              <h1 class="h2 header">
                {% block pageTitle %}{% endblock %}
              </h1>
              <h2 class="h2 subheader">
                {% block pageSubTitle %}{% endblock %}
              </h2>
              <div class="content-seperator"></div>
            </div>
          </div>
        </div>
        
        <div class="grid-row main-content">
        
            <aside class="grid-1-3 main-content-nav" id="menu">
            	{% block navContent %}{% endblock %}
            </aside>
        
            <div class="grid-2-3 main-content-right">
            	{% block content %}{% endblock %}
                <p class="back-top"><a href="#menu">Back up to menu</a> ↑</p>
                <div class="bottom-continue-reading">
                	<p style="margin-top:0;">We can help you find a chlamydia test that's right for you:</p>
                    <a href="https://primary-care-data-prototype.herokuapp.com/1-intro" class="button" style="
                        padding-right: 3rem;
                        background-repeat: no-repeat;
                        background-position: 95% 60%;
                        background-image: url(/images/icon-button-right-chevron.svg);">Find a chlamydia test
                    </a>
                </div>
            </div>
            
		</div>

    </main>

    {% include '_includes/footer.html' %}

    <script src="/scripts/jquery-1.12.4.min.js"></script>
    <script src="/scripts/selection-buttons.js"></script>
    <!-- additional scripts etc -->
    {% block body_after %}{% endblock %}

  </body>

</html>
