{% extends './layout_index.html' %}


{% block page_title %}
Type 1 diabetes - NHS.UK
{% endblock %}


{% block pageTitle %}
Type 1 diabetes
{% endblock %}

{% block pageSubTitle %}
Symptoms
{% endblock %}

{% block navContent %}
<ul>
  <li><a href="condition-main">Overview</a></li>
  <li><strong>Symptoms</strong>
  	<ul>
    	<li><a href="#when-to-seek-urgent-medical-attention">When to seek urgent medical attention</a></li>
        <li><a href="#hypoglycaemia-low-blood-glucose">Hypoglycaemia (low blood glucose)</a></li>
        <li><a href="#hyperglycaemia-high-blood-glucose">Hyperglycaemia (high blood glucose)</a></li>
    </ul>
  </li>
  <li><a href="condition-page-2">Diagnosis</a></li>
  <li><a href="condition-page-3">Treatment</a></li>
  <li><a href="condition-page-4">Complications</a></li>
  <li><a href="condition-page-5">Living with</a></li>
</ul>
{% endblock %}

{% block content %}

<h2>Symptoms</h2>
<p><strong>The symptoms of type 1 diabetes can develop</strong> <strong>very quickly (over a few days or weeks), particularly in children.</strong></p>
<p>In older adults, the symptoms can often take longer to develop (a few months).</p>
<p>However, they should disappear when you start taking insulin and the condition is under control.</p>
<p>The main symptoms of <a href="/Conditions/Diabetes/Pages/Diabetes.aspx">diabetes</a> are:</p>
<ul>
<li>feeling very <a href="/Conditions/thirst/Pages/Introduction.aspx">thirsty</a></li>
<li>urinating more frequently than usual, particularly at night </li>
<li>feeling very tired </li>
<li>weight loss and loss of muscle bulk </li>
<li>itchiness around the genital area, or regular bouts of <a href="/conditions/Thrush/Pages/Introduction.aspx">thrush</a> (a yeast infection) </li>
<li>blurred vision caused by the lens of your eye changing shape </li>
<li>slow healing of cuts and grazes </li>
</ul>
<p>Vomiting or heavy, deep breathing can also occur at a later stage. This is a dangerous sign and requires immediate admission to hospital for treatment.</p>
<p>See your GP if you think you may have diabetes.</p>
<h2 id="when-to-seek-urgent-medical-attention">When to seek urgent medical attention</h2>
<p>You should seek urgent medical attention if you have diabetes and develop:</p>
<ul>
<li>a loss of appetite </li>
<li>nausea or vomiting </li>
<li>a high temperature </li>
<li>stomach pain </li>
<li>fruity smelling breath – which may smell like pear drops or nail varnish (others will usually be able to smell it, but you won't) </li>
</ul>
<h2 id="hypoglycaemia-low-blood-glucose">Hypoglycaemia (low blood glucose)</h2>
<p>If you have diabetes, your blood glucose levels can become very low. This is known as <a href="/conditions/Hypoglycaemia/Pages/Introduction.aspx">hypoglycaemia</a> (or a "hypo"), and it's triggered when injected insulin in your body moves too much glucose out of your bloodstream.</p>
<p>In most cases, hypoglycaemia occurs as a result of taking too much insulin, although it can also develop if you skip a meal, exercise very vigorously or drink <a href="/Livewell/alcohol/Pages/Alcoholhome.aspx">alcohol</a> on an empty stomach.</p>
<p>Symptoms of a "hypo" include:</p>
<ul>
<li>feeling shaky and irritable </li>
<li>sweating </li>
<li>tingling lips </li>
<li>feeling weak </li>
<li>feeling confused  </li>
<li>hunger </li>
<li>nausea (feeling sick) </li>
</ul>
<p>A hypo can be brought under control simply by eating or drinking something sugary. </p>
<p>If it isn't brought under control, a hypo can cause confusion, slurred speech and eventually unconsciousness.</p>
<p>In this case, an emergency injection of a hormone called glucagon will be needed. Glucagon increases the glucose in your blood.</p>
<h2 id="hyperglycaemia-high-blood-glucose">Hyperglycaemia (high blood glucose)</h2>
<p>As people with type 1 diabetes cannot produce any insulin, their blood glucose levels may become very high. </p>
<p>When your blood glucose levels become too high, it's known as <a href="/conditions/Hyperglycaemia/Pages/Introduction.aspx?url=Pages/What-is-it.aspx">hyperglycaemia</a>. The symptoms of hyperglycaemia may come on suddenly and include:</p>
<ul>
<li>extreme thirst </li>
<li>a <a href="/conditions/dry-mouth/Pages/Introduction.aspx">dry mouth</a></li>
<li>blurred vision </li>
<li>drowsiness </li>
<li>a need to pass urine frequently  </li>
</ul>
<p>Left untreated, hyperglycaemia can lead to <a href="/conditions/diabetic-ketoacidosis/Pages/Introduction.aspx">diabetic ketoacidosis</a>. This is a serious condition where the body breaks down fat and muscle as an alternative source of energy. This leads to a build-up of acids in your blood, which can cause vomiting, <a href="/conditions/Dehydration/Pages/Introduction.aspx">dehydration</a>, unconsciousness and even death.</p>
<p>Diabetes UK has <a href="http://www.diabetes.org.uk/Guide-to-diabetes/Introduction-to-diabetes/Signs_and_symptoms/" title="External website">more information about diabetes symptoms</a>.</p>

{% endblock %}