{% extends './layout_index.html' %}

{% block page_title %}
Chlamydia - NHS.UK
{% endblock %}


{% block pageTitle %}
Chlamydia
{% endblock %}

{% block pageSubTitle %}
How you get it
{% endblock %}

{% block navContent %}
<ul>
  <li><a href="condition-main">About</a></li>
  <li><a href="condition-page-3">Symptoms and when to get tested</a></li>
  <li><a href="condition-page-11">How to get tested</a></li>
  <li><a href="condition-page-5">Treatment</a></li>
  <li><a href="condition-page-8">Telling  partners</a></li>
  <li><a href="condition-page-7">How to prevent it</a></li>
  <li><strong>How you get it</strong></li>
  <li><a href="condition-page-9">If it's not treated</a></li>
  <li><a href="https://lldyon.axshare.com/1__start.html">Get tested</a></li>
</ul>
{% endblock %}

{% block content %}

<h2>How you get chlamydia</h2>

<p>Chlamydia is a bacteria you can catch by:</p>

<ul>
  <li>having unprotected vaginal, anal or oral sex</li>
  <li>sharing sex toys - if you don't wash them or cover them with a new condom</li>
</ul>

<p>It can also be passed from a pregnant woman to her baby.</p>

<h3>When you won't catch chlamydia</h3>

<p>You can't get chlamydia from:</p>

<ul>
  <li>kissing or hugging</li>
  <li>swimming pools, toilet seats, sharing baths or towels</li>
  <li>cups, plates or cutlery</li>
</ul>

{% include './find-a-test.html' %}

{% endblock %}
