{% extends './layout_index.html' %}

{% block page_title %}
Chlamydia - NHS.UK
{% endblock %}


{% block pageTitle %}
Chlamydia
{% endblock %}

{% block pageSubTitle %}
Telling partners
{% endblock %}

{% block navContent %}
<ul>
  <li><a href="condition-main">About</a></li>
  <li><a href="condition-page-3">Symptoms and when to get tested</a></li>
  <li><a href="condition-page-11">How to get tested</a></li>
  <li><a href="condition-page-5">Treatment</a></li>
  <li><strong>Telling partners</strong></li>
  <li><a href="condition-page-7">How to prevent it</a></li>
  <li><a href="condition-page-4">How you get it</a></li>
  <li><a href="condition-page-9">If it's not treated</a></li>
  <li><a href="https://lldyon.axshare.com/1__start.html">Get tested</a></li>
</ul>
{% endblock %}

{% block content %}

<h2>Telling partners you have chlamydia</h2>

<p>If you have chlamydia, you should tell any recent sexual partners that they could also have it.</p>

<p>They should get tested for chlamydia.</p>

<p>If you don't want to do this yourself, a health professional can do it for you. This is called partner notification.</p>

<p>They won't notify anyone unless you ask them to, and you’re able to provide contact details for the people you've had sex with.</p>

<p>They won’t give your name to anyone they notify.</p>

{% include './find-a-test.html' %}

{% endblock %}
