{% extends './layout_index.html' %}

{% block page_title %}
Chlamydia - NHS.UK
{% endblock %}


{% block pageTitle %}
Chlamydia
{% endblock %}

{% block pageSubTitle %}
If it's not treated
{% endblock %}

{% block navContent %}
<ol>
  <li><a href="condition-main">About</a></li>
  <li><a href="condition-page-3">Check symptoms and who should get tested</a></li>
  <li><a href="condition-page-5">Treatment</a></li>
  <li><a href="condition-page-8">Telling your partner</a></li>
  <li><a href="condition-page-7">Protect yourself</a></li>
  <li><a href="condition-page-4">Causes</a></li>
  <li><strong>If it's not treated</strong></li>
  <li><a href="condition-page-10">Get tested</a></li>
</ol>
{% endblock %}

{% block content %}

<h2>If chlamydia is not treated</h1>

<p>If you have chlamydia and don't treat it, it can spread to other parts of the body and lead to serious health problems. These are known as complications.</p>

<p>The more times you have chlamydia, the more likely you are to develop complications.</p>

<h3 id="complications-in-females">Complications in females</h3>

<ul>
  <li>pelvic inflammatory disease</li>
  <li>ectopic pregnancy</li>
  <li>infertility</li>
  <li>inflammation and pain in the liver</li>
</ul>

<h3 id="complications-in-males">Complications in males</h3>

<ul>
  <li>infection in the testicles</li>
  <li>low fertility</li>
</ul>

{% include './find-a-test.html' %}

{% endblock %}
