{% extends './layout_index.html' %}

{% block page_title %}
Chlamydia - NHS.UK
{% endblock %}


{% block pageTitle %}
Chlamydia
{% endblock %}

{% block pageSubTitle %}
How to prevent it
{% endblock %}

{% block navContent %}
<ul>
  <li><a href="condition-main">About</a></li>
  <li><a href="condition-page-3">Symptoms and when to get tested</a></li>
  <li><a href="condition-page-11">How to get tested</a></li>
  <li><a href="condition-page-5">Treatment</a></li>
  <li><a href="condition-page-8">Telling  partners</a></li>
  <li><strong>How to prevent it</strong></li>
  <li><a href="condition-page-4">How you get it</a></li>
  <li><a href="condition-page-9">If it's not treated</a></li>
  <li><a href="https://lldyon.axshare.com/1__start.html">Get tested</a></li>
</ul>
{% endblock %}

{% block content %}

<h2>How to prevent chlamydia</h2>

<p>To avoid getting or passing on chlamydia and other sexually transmitted infections (STIs):</p>

<ul>
  <li>use a condom every time you have vaginal or anal sex</li>
  <li>cover the penis with a condom, or the vagina or anus with an oral sex dam (latex or soft plastic square) when you have oral sex</li>
  <li>use an oral sex dam if you rub your vagina against a partner's vagina</li>
  <li>avoid sharing sex toys - if you do share them, wash them or cover them with a new condom before anyone else uses them</li>
</ul>


{% include './find-a-test.html' %}

{% endblock %}
