{% extends './layout_index.html' %}

{% block page_title %}
Chlamydia - NHS.UK
{% endblock %}


{% block pageTitle %}
Chlamydia
{% endblock %}

{% block pageSubTitle %}
Symptoms and when to get tested
{% endblock %}

{% block navContent %}
<ul>
  <li><a href="condition-main">About</a></li>
  <li><strong>Symptoms and when to get tested</strong></li>
  <li><a href="condition-page-11">How to get tested</a></li>
  <li><a href="condition-page-5">Treatment</a></li>
  <li><a href="condition-page-8">Telling  partners</a></li>
  <li><a href="condition-page-7">How to prevent it</a></li>
  <li><a href="condition-page-4">How you get it</a></li>
  <li><a href="condition-page-9">If it's not treated</a></li>
  <li><a href="https://lldyon.axshare.com/1__start.html">Get tested</a></li>
</ul>
{% endblock %}

{% block content %}

<h2>Check symptoms of chlamydia and when to get tested</h2>

<p>Most people with chlamydia don’t have symptoms.</p>

<p>The only way to know if you have it is to get tested.</p>

<p>Get tested if you or any sexual partners: </p>

<ul>
<li>have a new sexual partner</li>
<li>have vaginal, oral or anal sex without a condom or oral sex dam</li>
<li>have or recently had a sexually transmitted infection (STI)</li>
<li>have or recently had any symptoms of chlamydia</li>
</ul>

<p>If you're under 25 and sexually active, you should get tested at least once a year because you're more likely to catch chlamydia.</p>

<h3>Symptoms of chlamydia</h3>

<p>If you do get symptoms, they usually appear within a few weeks of catching chlamydia, but can start later.</p>
 
<p>Symptoms of chlamydia include:</p>

<ul>
<li>pain when peeing</li>
<li>discharge from your bottom</li>
<li>vaginal discharge that's not usual for you</li>
<li>bleeding between periods</li>
<li>bleeding during or after sex</li>
<li>pelvic pain (in your lower tummy) – you may have this during sex</li>
<li>discharge from your penis</li>
<li>pain in your testicles</li>
<li>sore, red or sticky eyes </li>
</ul>

{% include './find-a-test.html' %}

{% endblock %}
