{% extends './layout_index.html' %}

{% block page_title %}
Chlamydia - NHS.UK
{% endblock %}


{% block pageTitle %}
Chlamydia
{% endblock %}

{% block pageSubTitle %}
Get tested
{% endblock %}

{% block navContent %}
<ol>
  <li><a href="condition-main">About</a></li>
  <li><a href="condition-page-3">Check symptoms and who should get tested</a></li>
  <li><a href="condition-page-5">Treatment</a></li>
  <li><a href="condition-page-8">Telling your partner</a></li>
  <li><a href="condition-page-7">Protect yourself</a></li>
  <li><a href="condition-page-4">Causes</a></li>
  <li><a href="condition-page-9">If it's not treated</a></li>
  <li><strong>Get tested</strong></li>
</ol>
{% endblock %}

{% block content %}

{% include './find-a-test.html' %}

<h2>What happens during the test</h1>

<p>You or a sexual health professional will take samples from the areas that might be infected. This can be done by:</p>
<ul>
    <li>wiping a cotton bud inside the vagina, bottom or mouth</li>
    <li>peeing into a container</li>
</ul>
<p>Your samples will be sent to a lab and tested for chlamydia. You'll usually get your results by phone or text message within 2 weeks.</p>

<p>If you see a health professional they'll also ask questions about your sexual activity and symptoms. This will help them decide what samples to take.</p>

{% endblock %}
