{% extends './layout_index.html' %}

{% block page_title %}
Chlamydia - NHS.UK
{% endblock %}


{% block pageTitle %}
Chlamydia
{% endblock %}

{% block pageSubTitle %}
If it's not treated
{% endblock %}

{% block navContent %}
<ul>
  <li><a href="condition-main">About</a></li>
  <li><a href="condition-page-3">Symptoms and when to get tested</a></li>
  <li><a href="condition-page-11">How to get tested</a></li>
  <li><a href="condition-page-5">Treatment</a></li>
  <li><a href="condition-page-8">Telling  partners</a></li>
  <li><a href="condition-page-7">How to prevent it</a></li>
  <li><a href="condition-page-4">How you get it</a></li>
  <li><strong>If it's not treated</strong></li>
  <li><a href="https://lldyon.axshare.com/1__start.html">Get tested</a></li>
</ul>
{% endblock %}

{% block content %}

<h2>If chlamydia isn’t treated</h2>

<p>If you don’t get treatment, chlamydia can spread to other parts of your body and lead to serious health problems, known as complications.</p>

<p>The more times you have chlamydia, the more likely you are to get complications.</p>

<p>Complications of chlamydia include:</p>

<ul>
  <li>infection of the womb, fallopian tubes and ovaries (pelvic inflammatory disease) – this can cause problems like infertility</li>
  <li>infection of the testicles</li>
  <li>joint pain</li>
  <li>inflammation and pain around the liver</li>
</ul>


{% include './find-a-test.html' %}

{% endblock %}
