{% extends '_layouts/layout_index_in_blue_box.html' %}


{% block page_title %}
Chlamydia - NHS.UK
{% endblock %}


{% block pageTitle %}
Chlamydia

{% endblock %}

{% block leftContent %}

<ol>
  <li>About</li>
  <li><a class="on-blue" href="condition-page-3">People at risk</a></li>
  <li><a class="on-blue" href="condition-page-2">Symptoms</a></li>
  <li><a class="on-blue" href="condition-test">Getting tested</a></li>
  <li><a class="on-blue" href="condition-page-5">Treatment and care</a></li>
</ol>

{% endblock %}

{% block rightContent %}

<ol start="6">
  <li><a class="on-blue" href="condition-page-8">Telling your partner</a></li>
  <li><a class="on-blue" href="condition-page-7">Protect yourself</a></li>
  <li><a class="on-blue" href="condition-page-4">Causes</a></li>
  <li><a class="on-blue" href="condition-page-9">If it's not treated</a></li>
  <!--<li><a class="on-blue" href="condition-page-6">Self-care</a></li>-->
</ol>

{% endblock %}

{% block content %}

<h2>About chlamydia</h2>

<p>Chlamydia is the most common sexually transmitted infection (STI).</p>

<p>Anyone who has vaginal, anal or oral sex can get chlamydia. Some people are more likely to get chlamydia or pass it on.</p>

<div class="muted" style="margin-top: 16px; margin-bottom: 8px;">
  <a href="condition-page-3">Check if you're at risk</a>
</div>

<p>You could have chlamydia even if you have no <a href="condition-page-2">symptoms</a>, or your symptoms go away.</p>

<p>The only way to know if you have it is to <a href="condition-test">get a chlamydia test</a>.</p>

<p>It's easy to treat with medical help. </p>

<p>If chlamydia isn't treated it can lead to serious health problems such as pelvic inflammatory disease, lower fertility, or infertility.</p>

<p>
  <span style="float:right"><a href="condition-page-3">2. People at risk ></a></span>
</p>
{% endblock %}
