{% extends '_layouts/layout_index_in_blue_box.html' %}


{% block page_title %}
Chlamydia - NHS.UK
{% endblock %}


{% block pageTitle %}
Chlamydia

{% endblock %}

{% block leftContent %}

<ol>
  <li><a class="on-blue" href="condition-main">About</a></li>
  <li><a class="on-blue" href="condition-page-3">People at risk</a></li>
  <li><a class="on-blue" href="condition-page-2">Symptoms</a></li>
  <li><a class="on-blue" href="condition-test">Getting tested</a></li>
  <li><a class="on-blue" href="condition-page-5">Treatment and care</a></li>
</ol>

{% endblock %}

{% block rightContent %}

<ol start="6">
  <li>Telling your partner</li>
  <li><a class="on-blue" href="condition-page-7">Protect yourself</a></li>
  <li><a class="on-blue" href="condition-page-4">Causes</a></li>
  <li><a class="on-blue" href="condition-page-9">If it's not treated</a></li>
  <!--<li><a class="on-blue" href="condition-page-6">Self-care</a></li>-->
</ol>

{% endblock %}

{% block content %}

<h2>Telling your partner that you have chlamydia</h2>

<p>If you have chlamydia, you should tell any sexual partners you've had in the last 6 months. They should then get tested for chlamydia.</p>

<p>If you don't want to do this yourself, a health professional can do it for you. This is called partner notification.</p>

<p>They won't tell anyone unless you ask them to, and you are able to provide contact details for the people you've had sex with.</p>

<p>They will not give your name to anyone that they notify.</p>


<p>
  <span><a href="condition-page-5">< 5. Treatment and care</a></span>
  <span style="float:right"><a href="condition-page-7">7. Protect yourself ></a></span>
</p>
{% endblock %}
