{% extends '_layouts/layout_index_in_blue_box.html' %}


{% block page_title %}
Chlamydia - NHS.UK
{% endblock %}


{% block pageTitle %}
Chlamydia

{% endblock %}

{% block leftContent %}

<ol>
  <li><a class="on-blue" href="condition-main">About</a></li>
  <li>People at risk</li>
  <li><a class="on-blue" href="condition-page-2">Symptoms</a></li>
  <li><a class="on-blue" href="condition-test">Getting tested</a></li>
  <li><a class="on-blue" href="condition-page-5">Treatment and care</a></li>
</ol>

{% endblock %}

{% block rightContent %}

<ol start="6">
  <li><a class="on-blue" href="condition-page-8">Telling your partner</a></li>
  <li><a class="on-blue" href="condition-page-7">Protect yourself</a></li>
  <li><a class="on-blue" href="condition-page-4">Causes</a></li>
  <li><a class="on-blue" href="condition-page-9">If it's not treated</a></li>
  <!--<li><a class="on-blue" href="condition-page-6">Self-care</a></li>-->
</ol>

{% endblock %}

{% block content %}

<h2>People at risk of chlamydia</h2>

<p>You can get chlamydia or pass it on if you have sex without using <a href="condition-page-7">contraception that protects you</a> from sexually transmitted infections (STIs).</p>

<p>You're more at risk if any of the following apply:</p>

<ul>
  <li>you have a new sexual partner</li>
  <li>you or your sexual partner had unprotected sex with someone else</li>
  <li>someone you've had sex with thinks they have symptoms</li>
  <li>someone you've had sex with has recently had a test for chlamydia</li>
  <li>someone you've had sex with tells you they have chlamydia or a sexually transmitted infection (STI)</li>
  <li>you have a different STI</li>
  <li>you're pregnant or planning a pregnancy – if you have chlamydia, you can pass it to your baby</li>
</ul>

<div class="primary-care" style="margin-top: 32px; margin-bottom:32px;">
  <p style="margin-top: 0;">If you think you're at risk, you should <a href="condition-test">get a chlamydia test</a></p>
</div>

<p>
  <span><a href="condition-main">< 1. About</a></span>
  <span style="float:right"><a href="condition-page-2">3. Symptoms ></a></span>
</p>

{% endblock %}
