{% extends './layout_index_in_blue_box_2.html' %}

{% block page_title %}
Chlamydia - NHS.UK
{% endblock %}


{% block pageTitle %}
Chlamydia
{% endblock %}

{% block pageSubTitle %}
Causes
{% endblock %}

{% block leftContent %}

<ol>
  <li><a href="condition-main">About</li>
  <li><a href="condition-page-2">Symptoms</a></li>
  <li><a href="condition-page-3">Who should get tested</a></li>
  <li><a href="condition-test">How to get tested</a></li>
  <li><a href="condition-page-5">Treatment and care</a></li>
</ol>

{% endblock %}

{% block rightContent %}

<ol start="6">
  <li><a href="condition-page-8">Telling your partner</a></li>
  <li><a href="condition-page-7">Protect yourself</a></li>
  <li>Causes</li>
  <li><a href="condition-page-9">If it's not treated</a></li>
  <li class="test"><a href="https://primary-care-data-prototype.herokuapp.com/1-intro" class="muted">Find a chlamydia test</a></li>
</ol>

{% endblock %}

{% block content %}

<h2>Causes of chlamydia</h2>

<p>Chlamydia is a bacteria that's found in people who have the infection. It can live in the:</p>

<ul>
<li>cervix (entrance to the womb)</li>
<li>urethra (tube that your pee comes out)</li>
<li>bottom</li>
<li>throat</li>
<li>eyes - contact with infected semen or vaginal fluid can cause conjunctivitis</li>
</ul>

<p>Chlamydia is usually passed on by:</p>

<ul>
<li>having unprotected vaginal, anal or oral sex</li>
<li>sharing sex toys - if you don't wash them or cover them with a new condom</li>
</ul>

<p>Chlamydia can also be passed from a pregnant woman to her baby.</p>

<h3>When you won't catch chlamydia</h3>

<p>You can't get chlamydia from kissing, hugging, swimming pools, toilet seats, sharing baths, towels, cups, plates or cutlery.</p>

<div class="bottom-continue-reading">
    
    <ul class="article-pagination">
        <li class="article-pagination__item--right">
          <a href="condition-page-9">
                <span class="article-pagination__prefix">Next →</span>
                <span class="article-pagination__title">9. If it's not treated</span>
          </a>
        </li>
        <li class="article-pagination__item--left">
            <a href="condition-page-7">
                <span class="article-pagination__prefix">← Previous</span>
                <span class="article-pagination__title">7. Protect yourself</span>
            </a>
        </li>
    </ul>
</div>

{% endblock %}
