{% extends './layout_index.html' %}

{% block page_title %}
Chlamydia - NHS.UK
{% endblock %}


{% block pageTitle %}
Chlamydia
{% endblock %}

{% block pageSubTitle %}
Check symptoms and who should get tested
{% endblock %}

{% block navContent %}
<ol>
  <li><a href="condition-main">About</a></li>
  <li><strong>Check symptoms and who should get tested</strong></li>
  <li><a href="condition-page-5">Treatment</a></li>
  <li><a href="condition-page-8">Telling your partner</a></li>
  <li><a href="condition-page-7">Protect yourself</a></li>
  <li><a href="condition-page-4">Causes</a></li>
  <li><a href="condition-page-9">If it's not treated</a></li>
</ol>
{% endblock %}

{% block content %}

<h2>Symptoms of chlamydia and who should get tested</h2>

<p>The only way to know if you have chlamydia is to get tested.</p>
<p>You and any sexual partners should get tested if you or they:</p>
<ul>
	<li>have a new sexual partner</li>
	<li>have vaginal, oral or anal sex without a condom or oral sex dam</li>
	<li>have or recently had a <a href="https://www.nhs.uk/conditions/sexually-transmitted-infections-stis/">sexually transmitted infection (STI)</a></li>
	<li>are pregnant or planning a pregnancy - this is because you can pass chlamydia to your baby</li>
    <li>have or recently had any symptoms of chlamydia</li>
</ul>
<h3>Symptoms of chlamydia</h3>
<p>You may notice one or more of the following symptoms:</p>
<ul>
	<li>discomfort or pain when urinating (peeing)</li>
	<li>discharge from your bottom</li>
	<li>vaginal discharge that's not usual for you</li>
	<li>bleeding between periods</li>
	<li>vaginal bleeding during or after sex</li>
	<li>vaginal pain during sex</li>
	<li>pelvic pain (lower stomach)</li>
	<li>discharge from the penis</li>
	<li>pain in the testicles</li>
	<li>pain and discharge in your eyes (conjunctivitis) </li>
</ul>

{% endblock %}
