{% extends './layout_index.html' %}

{% block page_title %}
Chlamydia - NHS.UK
{% endblock %}


{% block pageTitle %}
Chlamydia
{% endblock %}

{% block pageSubTitle %}
Protect yourself
{% endblock %}

{% block navContent %}
<ol>
  <li><a href="condition-main">About</a></li>
  <li><a href="condition-page-3">Check symptoms and who should get tested</a></li>
  <li><a href="condition-page-5">Treatment</a></li>
  <li><a href="condition-page-8">Telling your partner</a></li>
  <li><strong>Protect yourself</strong></li>
  <li><a href="condition-page-4">Causes</a></li>
  <li><a href="condition-page-9">If it's not treated</a></li>
</ol>
{% endblock %}

{% block content %}

<h2>Protect yourself from chlamydia</h2>

<p>To protect yourself from getting or passing on chlamydia, you should:</p>

<ul>
  <li>use a male or female condom every time you have vaginal or anal sex</li>
  <li>cover the penis with a condom, or the vagina or bottom with an oral sex dam (latex or soft plastic square) when you have oral sex</li>
  <li>use an oral sex dam if you are a female and you rub your vagina against a female partner's vagina</li>
  <li>avoid sharing sex toys - if you do share them, you should wash them or cover them with a new condom before anyone else uses them</li>
</ul>

{% endblock %}
