{% extends '_layouts/layout_index.html' %}

{% block page_title %}Index : {{serviceName}}{% endblock %}

{% block pageTitle %}Prototypes{% endblock %}

{% block pageIntro %}
<p>This is the design work for the nhs.uk's primary care service.</p>
<p>These are not live services.</p>

{% endblock%}

{% block leftContent %}

<h4>For research lab on Wednesday 18 October</h4>

<p><strong><a href="/design-sprint-1/condition">Chlamydia (Prototype 1)</a></strong></p>

<h4>For research lab on Thursday 2 November</h4>

<p><strong><a href="/design_sprint_2/condition">Chlamydia (Prototype 2)</a></strong></p>

<h4>For research lab on Thursday 23 November</h4>

<p><strong><a href="/design_sprint_3a/condition-main">Chlamydia (Prototype 3a)</a></strong></p>
<p><strong><a href="/design_sprint_3b/condition-main">Chlamydia (Prototype 3b)</a></strong></p>

<h4>For research pop-up in January 2018</h4>
<p><strong><a href="/design_sprint_4/condition-main">Chlamydia (Prototype 4)</a></strong></p>

<h4>For pop-up research on 15th Feb 2018</h4>
<p><strong><a href="/design_sprint_5/condition-main">Chlamydia (Prototype 5)</a></strong></p>
<p><strong><a href="/design_sprint_5b/condition-main">Chlamydia (Prototype 5b)</a></strong></p>
<p><strong><a href="/design_sprint_5c/condition-main">Chlamydia (Prototype 5c)</a></strong></p>

<h4>For pop-up research on 21st Feb 2018</h4>
<p><strong><a href="/design_sprint_6/condition-main">Chlamydia (Prototype 6)</a></strong></p>
<p><strong><a href="/design_sprint_6b/condition-main">Chlamydia (Prototype 6b)</a></strong></p>

<h4>Latest iteration</h4>
<p><strong><a href="/design_sprint_7/condition-main">Chlamydia (Prototype 7)</a></strong></p>
<p><strong><a href="/diabetes_example_1/condition-main">Diabetes example (Prototype 1)</a></strong></p>

{% endblock %}

{% block rightContent %}
No content for this
{% endblock %}

{% block footer %}{% endblock %}
