{% extends '_layouts/layout_index.html' %}

{% block page_title %}Index : {{serviceName}}{% endblock %}

{% block pageTitle %}Prototypes{% endblock %}

{% block pageIntro %}
<p>This is the design work for the nhs.uk's primary care service.</p>
<p>These are not live services.</p>

{% endblock%}

{% block leftContent %}

<h4>For research lab on Wednesday 18 October</h4>

<p><strong><a href="/design-sprint-1/condition">Chlamydia</a></strong></p>

<h4>For research lab on Thursday 2 November</h4>

<p><strong><a href="/design-sprint-2/condition">Chlamydia</a></strong></p>

{% endblock %}

{% block rightContent %}
No content for this
{% endblock %}

{% block footer %}{% endblock %}
